body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:620px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:151px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:110px;
  width:925px;
  height:305px;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:50px;
  width:140px;
  height:50px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:50px;
  width:120px;
  height:50px;
  line-height:18px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:50px;
  width:120px;
  height:50px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:50px;
  width:100px;
  height:50px;
  color:#FF0000;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:50px;
  width:160px;
  height:50px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:50px;
  width:140px;
  height:50px;
  color:#169BD5;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:100px;
  width:140px;
  height:50px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:100px;
  width:120px;
  height:50px;
  line-height:18px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:100px;
  width:120px;
  height:50px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:100px;
  width:100px;
  height:50px;
  color:#FF0000;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:100px;
  width:160px;
  height:50px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:100px;
  width:140px;
  height:50px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:150px;
  width:140px;
  height:50px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:150px;
  width:120px;
  height:50px;
  color:#1E1E1E;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:150px;
  width:120px;
  height:50px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:150px;
  width:100px;
  height:50px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:150px;
  width:160px;
  height:50px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:150px;
  width:140px;
  height:50px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:200px;
  width:140px;
  height:50px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:200px;
  width:120px;
  height:50px;
  color:#1E1E1E;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:200px;
  width:120px;
  height:50px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:200px;
  width:100px;
  height:50px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:200px;
  width:160px;
  height:50px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:200px;
  width:140px;
  height:50px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:140px;
  height:50px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:250px;
  width:140px;
  height:50px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:250px;
  width:120px;
  height:50px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:250px;
  width:120px;
  height:50px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:250px;
  width:100px;
  height:50px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:250px;
  width:160px;
  height:50px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:250px;
  width:140px;
  height:50px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:160px;
  width:1px;
  height:250px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:160px;
  width:1px;
  height:250px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:160px;
  width:1px;
  height:250px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:160px;
  width:1px;
  height:250px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:160px;
  width:1px;
  height:250px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:160px;
  width:1px;
  height:250px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:1px;
  height:250px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:165px;
  height:35px;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:251px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:160px;
  width:1px;
  height:250px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:130px;
  height:31px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:55px;
  width:115px;
  height:5px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:34px;
  width:300px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:680px;
  width:140px;
  height:40px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:770px;
  width:925px;
  height:255px;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:50px;
  width:140px;
  height:50px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:50px;
  width:120px;
  height:50px;
  line-height:18px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:50px;
  width:120px;
  height:50px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:50px;
  width:100px;
  height:50px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:50px;
  width:160px;
  height:50px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:50px;
  width:140px;
  height:50px;
  color:#169BD5;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:100px;
  width:140px;
  height:50px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:100px;
  width:120px;
  height:50px;
  line-height:18px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:100px;
  width:120px;
  height:50px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:100px;
  width:100px;
  height:50px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:100px;
  width:160px;
  height:50px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:100px;
  width:140px;
  height:50px;
  color:#169BD5;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:150px;
  width:140px;
  height:50px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:150px;
  width:120px;
  height:50px;
  color:#1E1E1E;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:150px;
  width:120px;
  height:50px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:150px;
  width:100px;
  height:50px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:150px;
  width:160px;
  height:50px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:150px;
  width:140px;
  height:50px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:140px;
  height:50px;
  color:#1E1E1E;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:200px;
  width:140px;
  height:50px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:200px;
  width:120px;
  height:50px;
  color:#1E1E1E;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:200px;
  width:120px;
  height:50px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:200px;
  width:100px;
  height:50px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:200px;
  width:160px;
  height:50px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:200px;
  width:140px;
  height:50px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:820px;
  width:1px;
  height:199px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:820px;
  width:1px;
  height:199px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:820px;
  width:1px;
  height:199px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:820px;
  width:1px;
  height:199px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:820px;
  width:1px;
  height:199px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:820px;
  width:1px;
  height:199px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:820px;
  width:1px;
  height:199px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:730px;
  width:165px;
  height:35px;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:200px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:820px;
  width:1px;
  height:199px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:98px;
  height:31px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:848px;
  width:83px;
  height:5px;
  -webkit-transform:rotate(8deg);
  -moz-transform:rotate(8deg);
  -ms-transform:rotate(8deg);
  transform:rotate(8deg);
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:98px;
  height:31px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:886px;
  width:83px;
  height:5px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:862px;
  width:165px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:177px;
  width:165px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:110px;
  height:31px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:182px;
  width:95px;
  height:5px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
