<div class="page-location">
  <a class="h4 pad-r-xs font-bold">重新申请授信</a>

  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-user"></i>会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">重新申请授信</a>
</div>
<div class="wrapper-md pos-rlt">
    <form #newApply="ngForm" (ngSubmit)='submit()' HTML5Validate>
  <section class="panel-body border-content ">
    <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control">会员名称:</label>
        <span class="row-body text-content">{{companyName}}  ({{memberId}})</span>
    </div>
    <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control">服务经理:</label>
        <span class="row-body text-content">{{serviceMan | filterNull:false}}</span>
    </div>
    <!-- <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control required">申请产品:</label>
        <span class="row-body text-content">{{productName | filterNull:false}}</span>

    </div>
    <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control">产品类别:</label>
        <span class="row-body text-content">{{productTypeName | filterNull:false}}</span>
    </div> -->

  </section >
  <section class="panel-body border-content m-t-md form-inline ">
    <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control required">申请额度:</label>
        <div class="input-group">
          <input type="text" name="addCreditValue" class="form-control" [(ngModel)]="addCreditValue" required
                 pattern="^[0-9]{1,13}(\.[0-9]{1,2})?$" #addCreditValueRef="ngModel"
                 [HTML5Validate]="[[addCreditValue==='','请输入申请额度！'],[!!(addCreditValueRef.errors&&addCreditValueRef.errors.pattern),'申请额度输入有误，请输入13位(含)以内整数,可保留两位小数']]"
          />

          <span class="input-group-addon">元</span>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control">原授信额度:</label>
        <span class="row-body text-content">{{oldCreditValue | yuanFormat:2:true | filterNull:false}} 元</span>
    </div>
    <!-- <div class="col-md-12 form-group">
        <label class="pull-left w-sm label-control">原有效期:</label>
        <span class="row-body text-content">{{expiryDateBegin | effDateFormat}}  至  {{expiryDateEnd | effDateFormat}}</span>

    </div> -->
  </section>


	<section class="panel-body border-content m-t-md form-inline">
		<div class="col-md-12">
			<label class="pull-left w-sm label-control">备注:</label>
			<textarea name="authRemark" id="" cols="50" rows="5" class="form-control" maxlength="200" placeholder="小于200字" [(ngModel)]="authRemark"></textarea>
		</div>
	</section>
    <section class="m-t-md">
        <div class="text-center">

            <!-- <button class="btn-def mar-r-sm" type="submit" [disabled]="!newApply.form.valid">提交申请<i class="fa fa-check-circle-o"></i></button> -->
            <button class="btn-def mar-r-sm" type="submit">提交申请<i class="fa fa-check-circle-o"></i></button>
          <button type="button" class="btn-def" (click)="cancel()">放弃<i class="fa fa-arrow-circle-o-left"></i></button>
        </div>
    </section>
</form>
<section class="clearfix productInfo pos-abt m-t-xl tabel-bg-color" style="height:350px">
      <div class="col-md-12 m-t">
          <table class="table showL b-t">
              <caption class="text-center text-lg font-bold caption-style m-b-md">授信产品</caption>
              <thead>
                  <tr>
                      <th class="text-center" style="width:150px">产品</th>
                      <th class="text-center">额度(元)</th>
                      <th class="text-center" style="width:200px">有效期</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of productList">
                      <td class="text-center tbody-style" *ngIf="item.creditFacility">{{item.creditFacility.productName}}</td>
                      <td class="text-right tbody-style" *ngIf="item.creditFacility">{{item.creditFacility.creditValue | yuanFormat:2:true}}</td>
                      <td class="text-center tbody-style" *ngIf="item.creditFacility">{{item.creditFacility.expiryDateBegin | effDateFormat}}  至  {{item.creditFacility.expiryDateEnd | effDateFormat}}</td>
                  </tr>
                  <tr *ngIf="!productList||productList.length===0||!productList[0].creditFacility">
                    <td colspan="3" class="text-disabled text-center tbody-style"> 无</td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td class="text-center tfoot-style">合计：</td>
                      <td class="text-right tfoot-style">{{oldCreditValue | yuanFormat:2:true | filterNull:false}} 元</td>
                  </tr>
              </tfoot>
          </table>
          <div></div>
      </div>
  </section>
</div>
<submit-loading [show]="submitting"></submit-loading>
