.wrapperForTwo {
  padding: 16px 8px;
  overflow: hidden;
}

.wrapperTwoLeft {
  margin-left: -8px;
  margin-right: 8px;
}

.wrapperTwoRight {
  margin-left: 8px;
  margin-right: -8px;
}

.label-control {
  float: left;
  margin-top: 5px;
  margin-right: 6px;
}
.label-special-w{
	width:102px;
}



.showL tr td,.showL tr th{
  border: 1px solid #ddd
}

.showL thead tr th{
  border-bottom: none;
}
.uploadBtn{
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 100%;
  left: 0px;
  height: 100%;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th{
  padding: 8px 8px
}




//new
.form-label-10 .control-label{
  font-weight: bold;
  width: 10em;
  text-align: left;
}
section{
  padding: 10px 40px;
}
.form-group{
  margin-bottom:5px;
}
.form-control-static{
  color:#b6550f;
}
select.min-width{
  min-width: 175px;
}

.text-info.disabled{
  color: #999
}
.padder-l{
  padding-right: 24px
}