<div class="page-location">
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">申请认证</a>
</div>
<div class="wrapper">
  <form #form="ngForm" (ngSubmit)="submit()">
    <section class="wrapper bg-white">
      <div class="form-group clearfix">
        <label class="label-control label-special-w">客户名称:</label>
        <div class="col-md-4 m-t-xs">
            {{guestName}}
        </div>
      </div>
      
      
      <div class="form-group clearfix">
        <label class="label-control label-special-w">归属渠道:</label>
        <div class="col-md-4 m-t-xs">
            {{appName}}
        </div>
      </div>
      <div class="form-group clearfix pos-rlt">
        <span class="text-danger l-h-2x pos-abt" style="left: -10px">*</span>
        <label class="label-control label-special-w">类别:</label>
        <div class="col-md-4 m-t-xs">
            <select name="memberType" id="" class="form-control" [(ngModel)]="memberType" required>
              <!-- <option value="0">平台会员</option>
              <option value="1">平台管理方</option> -->
              

              <option [ngValue]="item.value" *ngFor="let item of typeList" >{{item.label}}</option>
            </select>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="label-control label-special-w">服务经理:</label>
        <div class="col-md-4 m-t-xs">
            {{serviceMan}}
        </div>
      </div>
      
      
    </section>
    <section class="wrapperForTwo ">
      <div class="p-t col-md-6 bg-white wrapperTwoLeft">
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">公司类型:</label>
          <div class="col-md-8 m-t-xs">
            {{companyType}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">成立时间:</label>
          <div class="col-md-8 m-t-xs">
            {{foundTime}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">注册资金:</label>
          <div class="col-md-8 m-t-xs">
            {{registerCapital | yuanFormat}} 万元
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">营业执照号:</label>
          <div class="col-md-8 m-t-xs">
            {{licenceNum}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">公司地址:</label>
          <div class="col-md-8 m-t-xs">
            {{companyAddress}}
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-white wrapperTwoRight">
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">联系人:</label>
          <div class="col-md-8 m-t-xs">
            {{linkName}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">联系手机:</label>
          <div class="col-md-8 m-t-xs">
            {{linkMobile}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">联系人职位:</label>
          <div class="col-md-8 m-t-xs">
            {{linkJob}}
          </div>
        </div>
        <div class="form-group clearfix">
          <span class="text-danger requiredSpan l-h-2x pos-abt">*</span>

          <label for="" class="label-control label-special-w">联系人是否法人:</label>
          <div class="col-md-8 m-t-xs">
            <select name="isLegal" id="" class="form-control" [(ngModel)]="isLegal" required>
              <option [ngValue]="item.value" *ngFor="let item of isLegalList" >{{item.label}}</option>
            </select>
          </div>
          
        </div>
        <div class="form-group clearfix">
          <span class="text-danger requiredSpan l-h-2x pos-abt" *ngIf="isLegal==0">*</span>

          <label for="" class="label-control label-special-w">联系人身份证:</label>
          <div class="col-md-8 m-t-xs">
            <input type="text" name="linkIdcard" class="form-control" [disabled]="isLegal!=0" [(ngModel)]="linkIdcard" required>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper bg-white clearfix">
      <!-- <div class="form-group clear-fix" *ngFor="let item of fileList"> -->
      <div class="form-group clearfix" *ngFor="let item of attachmentList;let i=index">
       <label for="" class="col-md-2 m-t-xs text-right">附件{{i+1}}</label>
       <div class="col-md-8">
         <div class="col-md-6">
           <select name="firstType{{i}}" id="" class="form-control" [(ngModel)]="item.firstType" (change)="item.selectFirstL()">
             <option [ngValue]="type.code" *ngFor="let type of item.firstList">{{type.msg}}</option>
           </select>
         </div>
         <div class="col-md-6" >
           <select name="secondType{{i}}" id="" class="form-control" [disabled]="!item.firstType" [(ngModel)]="item.secondType">
             <option [ngValue]="type.code" *ngFor="let type of item.secondList">{{type.msg}}</option>
             
           </select>
         </div>
         <!-- <div class="col-md-2 m-t-xs " *ngIf="item.isUploaded">
           <a (click)="delete()" class="text-danger">删除</a>

         </div> -->
         <!-- <div class="col-md-2 p-l-none" *ngIf="item.isUploaded==false">
          <div class="btn btn-info">上传<input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" multiple="multiple"/></div>
           
         </div> -->
         
         
         <div class="col-md-12 text-center text-info m-t-xs">
            <table class="form-group clearfix table table-striped m-b-none showL text-center">
                <thead>
                  <tr>
                    <th>文件名</th>
                    <th width="75">状态</th>
                    <th width="80">进度</th>
                    <th width="142">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].success==true:false">
                        <a class="text-info" (click)="show($event,item)">{{item.uploader.queue[0].fileName}}</a>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="item.uploader.queue[0]?(!item.uploader.queue[0].uploaded):true">
                        等待上传
                      </div>
                      <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].success==true:false">上传成功</div>
                      <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].error==true:false">上传失败</div>
                    </td>
                    <td>
                      <div *ngIf="item.uploader.queue[0]">
                        <div class="active m-b-none m-t-xs progress progress-sm progress-striped">
                          <div class="progress-bar bg-success" [style.width.%]="item.uploader.queue[0].progress">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="btn btn-info btn-sm pos-rlt" [class.disabled]="!item.secondType" *ngIf="!item.uploader.queue[0]" >上传
                        <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" [disabled]="!item.secondType"/>
                      </div>
                      <div *ngIf="item.uploader.queue[0]" class="pull-left">
                        <div class="btn btn-info btn-sm pos-rlt" *ngIf="item.uploader.queue[0]">重新上传
                          <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" />
                        </div>
                        
                      </div>
                      <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile(item)">删除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            <!-- <div class="col-md-11" *ngFor="let name of item.uploader.queue">
              <div class="col-md-6">
                <a  class="text-info" (click)="item.openAttach(name)">{{name.fileName}}</a>
              </div>
              <div class="col-md-6">
                <div class="text-info" *ngIf="name.success">上传成功</div>
                <div class="text-danger" *ngIf="!name.success">上传失败</div>
              </div>
            </div> -->
           
         </div>
       </div>
      </div>
      <div class="col-md-12 text-center text-info">
        <a (click)='addAttachment()'>新增</a>
      </div>

    </section>
    <section>
      <div class="text-center m-t-xs">
        <button class="btn" type="button" (click)="cancel()">返回</button>
        <button class="btn btn-info" type="submit" [disabled]="!form.valid">提交申请</button>

      </div>
    </section>
  </form>
</div>
<gallery #gallery></gallery>
