<div class="page-location">
  <a class="h4 pad-r-xs font-bold">申请认证</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">申请认证</a>
</div>
<div class="wrapper">
  <form #form="ngForm" (ngSubmit)="submit()">
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-10">
        <div class="form-group">
          <label class="control-label">客户名称：</label>
          <span class="form-control-static">{{guestName | filterNull}}</span>
        </div>
        <div class="form-group no-b-margin">
          <label class="control-label pull-left required">类别：</label>
          <div class=" pull-left" style="width:175px;">
            <select name="memberType"  class="form-control" [(ngModel)]="memberType" required>
              <!-- <option value="0">平台会员</option>
              <option value="1">平台管理方</option> -->
              <!-- <option value="-1" selected disabled hidden>请选择</option> -->
              <option [value]="undefined" hidden>请选择</option>

              <option [value]="item.value" *ngFor="let item of typeList" >{{item.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-10">
        <div class="form-group">
          <label class="control-label">归属渠道：</label>
          <span class="form-control-static">  {{appName | filterNull}}</span>
        </div>
        <div class="form-group no-b-margin">
          <label class="control-label">服务经理：</label>
          <span class="form-control-static">  {{serviceMan | filterNull}}</span>
        </div>
      </div>
    </section >
    <section class="mar-b-sm form-horizontal form-label-10 group clearfix">
      <div class="col-md-6 ">
        <div class="form-group ">
          <label  class="control-label pull-left">联系人：</label>
          <div class="form-control-static pull-left">
            {{linkName | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系手机：</label>
          <div class="form-control-static pull-left">
            {{linkMobile | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系人职位：</label>
          <div class="form-control-static pull-left">
            {{linkJob | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left required">联系人是否法人：</label>
          <div class=" pull-left" style="width:175px;">
            <select name="isLegal"  class="form-control" [(ngModel)]="isLegal" required >
              <option [value]="undefined" hidden>请选择</option>

              <option [value]="item.value" *ngFor="let item of isLegalList" >{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left" [class.required]="isLegal=='0'">身份证号：</label>
          <div class=" pull-left" style="width:175px;">
            <input type="text" name="linkIdcard" class="form-control" required maxlength="30" [disabled]="isLegal!=0" [(ngModel)]="linkIdcard">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label  class="control-label pull-left">营业执照号：</label>
          <div class="form-control-static pull-left">
            {{licenceNum | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">公司类型：</label>
          <div class="form-control-static pull-left">
            {{companyType | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">注册资金：</label>
          <div class="form-control-static pull-left">
            {{registerCapital | filterNull | filterMultiply:0.0001 | yuanFormat:2:true}}<span *ngIf="registerCapital">万元</span>
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">成立时间：</label>
          <div class="form-control-static pull-left">
            {{foundTime | filterNull}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label  class="control-label pull-left">公司地址：</label>
          <div class="form-control-static pull-left enter">
            {{companyAddress | filterNull}}
          </div>
        </div>
      </div>
    </section>

    <section class="group clearfix">
      <div class="group-title">附件</div>
      <!-- <div class="form-group clear-fix" *ngFor="let item of fileList"> -->
      <div class="form-group clearfix" *ngFor="let item of attachmentList;let i=index">
       <label for="" class="col-md-2 m-t-xs text-right">附件{{i+1}}</label>
       <div class="col-md-10 l-h-2x">
         <div class="col-md-3">
           <select name="firstType{{i}}" id="" class="form-control" [(ngModel)]="item.firstType" (change)="item.selectFirstL()">
              <option [value]="undefined" hidden>请选择</option>

             <option [value]="type.code" *ngFor="let type of item.firstList">{{type.msg}}</option>
           </select>
         </div>
         <div class="col-md-3" >
           <select name="secondType{{i}}"  class="form-control" [disabled]="!item.firstType" [(ngModel)]="item.secondType">
              <option [value]="undefined" hidden>请选择</option>
            
             <option [value]="type.code" *ngFor="let type of item.secondList">{{type.msg}}</option>

           </select>
         </div>


        <div class="col-md-4">
          <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].success==true:false">
            <a class="text-info inline-block" (click)="show($event,item)" textMaxLength="260px">{{item.uploader.queue[0].fileName}}</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="pull-left">
            <a class="text-info pos-rlt o-h inline-block" [class.disabled]="!item.secondType" *ngIf="!item.uploader.queue[0]" >上传
            <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" [disabled]="!item.secondType"/>
            <!-- <span class="file-uploader-content">上传</span> -->
          </a>
          </div>
          <div class="pull-left">
            <a *ngIf="!item.uploader.queue[0]||(item.uploader.queue[0].success)" class="text-danger m-l-sm inline-block" (click)="deleteFile(item)">删除</a>
          </div>

          <!-- 滚动条 -->
          <div *ngIf="item.uploader.queue[0]&&(!item.uploader.queue[0].success)">
            <div class="active m-b-none m-t-xs progress progress-sm progress-striped">
              <div class="progress-bar bg-success" [style.width.%]="item.uploader.queue[0].progress">
              </div>
            </div>
          </div>



        </div>

         <!-- <div class="col-md-2 m-t-xs " *ngIf="item.isUploaded">
           <a (click)="delete()" class="text-danger">删除</a>
         </div> -->
         <!-- <div class="col-md-2 p-l-none" *ngIf="item.isUploaded==false">
          <div class="btn btn-info">上传<input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" multiple="multiple"/></div>
         </div> -->


         <!-- <div class="col-md-12 text-center text-info m-t-xs">
            <table class="form-group clearfix table table-striped m-b-none showL text-center">
                <thead>
                  <tr>
                    <th>文件名</th>
                    <th width="75">状态</th>
                    <th width="80">进度</th>
                    <th width="142">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].success==true:false">
                        <a class="text-info" (click)="show($event,item)">{{item.uploader.queue[0].fileName}}</a>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="item.uploader.queue[0]?(!item.uploader.queue[0].uploaded):true">
                        等待上传
                      </div>
                      <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].success==true:false">上传成功</div>
                      <div *ngIf="item.uploader.queue[0]?item.uploader.queue[0].error==true:false">上传失败</div>
                    </td>
                    <td>
                      <div *ngIf="item.uploader.queue[0]">
                        <div class="active m-b-none m-t-xs progress progress-sm progress-striped">
                          <div class="progress-bar bg-success" [style.width.%]="item.uploader.queue[0].progress">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="btn btn-info btn-sm pos-rlt" [class.disabled]="!item.secondType" *ngIf="!item.uploader.queue[0]" >上传
                        <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" [disabled]="!item.secondType"/>
                      </div>
                      <div *ngIf="item.uploader.queue[0]" class="pull-left">
                        <div class="btn btn-info btn-sm pos-rlt" *ngIf="item.uploader.queue[0]">重新上传
                          <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="item.uploader" />
                        </div>
                      </div>
                      <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile(item)">删除</button>
                    </td>
                  </tr>
                </tbody>
              </table>

         </div> -->
       </div>
      </div>
      <div class="col-md-2 text-info text-right padder-r">
        <a class="text-info" (click)='addAttachment()'>新增</a>
      </div>

    </section>
    
    <div class="col-md-12">
      <div class="text-disabled text-left pos-abt padder-l" *ngIf="!form.valid||!licenceNum||!companyType||!registerCapital||!foundTime||!companyAddress">
        提醒：请完善客户所有信息后再进行认证申请
      </div>
      <div class="text-center m-t-xl">
        <button class="btn-def mar-r-sm" type="submit" [disabled]="!form.valid||!licenceNum||!companyType||!registerCapital||!foundTime||!companyAddress">提交申请<i class="fa fa-check-circle-o"></i></button>
        <button class="btn-def" (click)="cancel()" type="button">返回<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </div>
  </form>
</div>
<gallery #gallery></gallery>

<!-- &&licenceNum&&companyType&&registerCapital&&foundTime&&companyAddress -->