<div class="page-location">
    <a class="h4 pad-r-xs font-bold">展期管理详情</a>
    <a class="page-location-item">
        <i class="page-location-icon glyphicon glyphicon-briefcase"></i>融资管理
        <i class="pad-l-min fa fa-angle-right"></i>
    </a>
    <a class="page-location-item active">展期管理
        <i class="pad-l-min fa fa-angle-right"></i>
    </a>
    <a class="page-location-item active">详情</a>
</div>
<div class="wrapper">
    <form>
        <section class="group clearfix form-group">
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">展期单号:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverApplyId | filterNull:false}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">创建时间:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.createTime | filterNull:false | effDateFormat}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">状态:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.statusName | filterNull:false}}
                    </div>
                </div>
            </div>
        </section>

        <!-- 审核 -->
        <!-- <section class="group clearfix form-group" *ngIf="isCheck">
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">企业名称:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.companyName | filterNull:false}} ({{rolloverData.memberId | filterNull:false}})
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">承诺还款日期:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverDate | filterNull:false | effDateFormat}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">展期金额:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.repaymentCapital | yuanFormat:2:true}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">本期利息:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.repaymentInterest | yuanFormat:2:true}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">展期保证金:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverDeposit | yuanFormat:2:true}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">展期利率:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverRate | filterNull:false}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">申请原因:</label>
                    <div class="col-md-8 text-content">
                        <textarea class="form-control" name="remarks" cols="45" rows="5" maxlength="50" [(ngModel)]="remarks" placeholder="小于50字"></textarea>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- 详情 -->
        <section class="group clearfix form-group">
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">企业名称:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.companyName | filterNull:false}} ({{rolloverData.memberId|filterNull:false}})
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">展期金额:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.repaymentCapital | yuanFormat:2:true}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">保证金:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverDeposit | yuanFormat:2:true}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">当期利息:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.repaymentInterest | yuanFormat:2:true}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">展期利率:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverRate | filterNull:false}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">承诺还款日期:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.rolloverDate | filterNull:false | effDateFormat}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">批准还款日期:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.comfirmRolloverDate | filterNull:false | effDateFormat}}
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">申请理由:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.remarks | filterNull:false}}
                    </div>
                </div>
            </div> -->
        </section>
        <section class="group clearfix form-group">
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">贷款单号:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.borrowApplyId | filterNull:false}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">还款期数:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.currentPeriodStr | filterNull:false}}
                    </div>
                </div>
            </div>
            <drop-down [show]="show">
                <div data-type="dropContent">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <label class="label-control">贷款金额:</label>
                            <div class="col-md-8 text-content">
                                {{financeData.approveAmount | filterNull:false}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control">贷款产品:</label>
                            <div class="col-md-8 text-content">
                                {{financeData.productName | filterNull:false}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <label class="label-control">贷款周期:</label>
                            <div class="col-md-8 text-content">
                                {{financeData.ratedCycle | filterNull:false}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control">还款方式:</label>
                            <div class="col-md-8 text-content">
                                {{financeData.paymentWayDic | filterNull:false}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <label class="label-control">利率:</label>
                            <div class="col-md-8 text-content">
                                {{financeData.rate | percent | filterNull:false}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control">计息方式:</label>
                            <div class="col-md-8 text-content">
                                {{financeData.rateTypeDic | filterNull:false}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-12">
                            <label class="label-control">还款计划:</label>
                            <div class="col-md-7 m-t-xs">
                                <table class="table showL b-t">
                                    <thead>
                                        <tr>
                                            <th class="text-center">期数</th>
                                            <th class="text-center">还款日</th>
                                            <th class="text-center">应还本金(元)</th>
                                            <th class="text-center">应还利息(元)</th>
                                            <th class="text-center">状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of repaymentList" [class.bg-warning]="item.status==0">
                                            <td class="text-center">{{'第'+item.currentPeriod+'期'}}</td>
                                            <td class="text-center">{{item.repaymentDate | effDateFormat}}</td>
                                            <td class="text-right">{{item.repaymentCapital | yuanFormat:2:true}}</td>
                                            <td class="text-right">{{item.repaymentInterest | yuanFormat:2:true}}</td>
                                            <td class="text-center">{{item.statusName}}</td>
                                        </tr>
                                        <tr *ngIf="!repaymentList||repaymentList.length===0">
                                            <td colspan="4" class="text-disabled text-center"> 无</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </drop-down>
            <span class="dropDowm text-center" *ngIf="!down">
                <i class="fa fa-angle-double-down" (click)="downEvent()"></i>
            </span>
            <span class="dropUp text-center" *ngIf="down">
                <i class="fa fa-angle-double-up" (click)="upEvent()"></i>
            </span>
        </section>
        <!--审批-->
        <section class="group clearfix form-group" *ngIf='isCheck'>
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">一审意见:</label>
                    <div class="col-md-8 text-content">
                        <textarea class="form-control mar-b-xs width-textarea" name="auditOneRemarks" cols="40" rows="5" maxlength="50" [(ngModel)]="auditOneRemarks" placeholder="小于50字"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <!--详情-->
        <section class="group clearfix form-group" *ngIf='!isCheck'>
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">一审人员:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.auditOneBy | filterNull:false}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">一审时间:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.auditOneTime | filterNull:false | effDateFormat}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">一审意见:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.auditOneRemarks | filterNull:false}}
                    </div>
                </div>
            </div>
        </section>
        <section class="group clearfix form-group" *ngIf='!isCheck'>
            <div class="col-md-12 m-t form-group">
                <div class="col-md-6">
                    <label class="label-control">二审人员:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.auditTwoBy | filterNull:false}}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="label-control">二审时间:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.auditTwoTime | filterNull:false | effDateFormat}}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <label class="label-control">二审意见:</label>
                    <div class="col-md-8 text-content">
                        {{rolloverData.auditTwoRemarks | filterNull:false}}
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="text-center">
                <button class="btn-def btn-def-success mar-r-xs" *ngIf="isCheck" (click)="submitConfirm(2)">通过
                    <i class="fa fa-check-circle-o"></i>
                </button>
                <button class="btn-def btn-def-danger mar-r-xs" *ngIf="isCheck" (click)="submitConfirm(-2)">拒绝
                    <i class="fa fa-ban"></i>
                </button>
                <a (click)="back()" class="btn-def mar-r-xs" *ngIf="isCheck">放弃
                    <i class="fa fa-arrow-circle-o-left"></i>
                </a>
                <a (click)="back()" class="btn-def mar-r-xs" *ngIf="!isCheck">返回
                    <i class="fa fa-arrow-circle-o-left"></i>
                </a>
            </div>
        </section>
    </form>
</div>