body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:980px;
  height:240px;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:151px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u5642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:980px;
  height:300px;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:443px;
  width:300px;
  height:60px;
}
#u5644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:398px;
  width:140px;
  height:30px;
}
#u5645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5645_input:disabled {
  color:grayText;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:358px;
  width:140px;
  height:30px;
}
#u5646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u5647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:362px;
  width:23px;
  height:23px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:401px;
  width:59px;
  height:23px;
  font-size:16px;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u5651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:361px;
  width:91px;
  height:23px;
  font-size:16px;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u5653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:443px;
  width:53px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u5655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:483px;
  width:52px;
  height:20px;
  color:#999999;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u5657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:361px;
  width:53px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:599px;
  width:140px;
  height:30px;
}
#u5659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5659_input:disabled {
  color:grayText;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:603px;
  width:59px;
  height:23px;
  font-size:16px;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u5662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:57px;
  width:68px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u5664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:57px;
  width:212px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:208px;
  white-space:nowrap;
}
#u5666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:109px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:109px;
  width:84px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  white-space:nowrap;
}
#u5670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:179px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:286px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:142px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:142px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:175px;
  width:101px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:58px;
  width:179px;
  height:20px;
  color:#999999;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:175px;
  white-space:nowrap;
}
#u5682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:109px;
  width:165px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:161px;
  white-space:nowrap;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:109px;
  width:148px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  white-space:nowrap;
}
#u5686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:142px;
  width:110px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  white-space:nowrap;
}
#u5688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:142px;
  width:92px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  white-space:nowrap;
}
#u5690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:520px;
  width:101px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:522px;
  width:300px;
  height:60px;
}
#u5692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:562px;
  width:45px;
  height:20px;
  color:#999999;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u5695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:175px;
  width:78px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  white-space:nowrap;
}
#u5697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:245px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:245px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:179px;
  width:43px;
  height:23px;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u5703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:285px;
  width:37px;
  height:23px;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u5705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:245px;
  width:92px;
  height:23px;
  font-size:16px;
  color:#FF0000;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  white-space:nowrap;
}
#u5707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:245px;
  width:39px;
  height:23px;
  font-size:16px;
  color:#FF0000;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u5709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:212px;
  width:100px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  white-space:nowrap;
}
#u5711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:209px;
  width:117px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u5713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:212px;
  width:37px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u5715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:209px;
  width:37px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u5717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:650px;
  width:140px;
  height:40px;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:650px;
  width:140px;
  height:40px;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:102px;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:361px;
  width:150px;
  height:102px;
  font-size:36px;
  color:#999999;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u5723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:102px;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:480px;
  width:150px;
  height:102px;
  font-size:36px;
  color:#999999;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u5725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:429px;
  width:38px;
  height:20px;
  color:#999999;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u5727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:541px;
  width:38px;
  height:20px;
  color:#999999;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
