<div class="page-location">
  <a class="h4 pad-r-xs font-bold">会员账户余额</a>
  <a class="page-location-item">
  	<!-- <i class="page-location-icon glyphicon glyphicon-th-list"></i> -->
  	账户管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">账户余额</a>
</div>
<div class="pad-l-def pad-r-def pad-b-def pad-t-sm">
	<div class="clearfix mar-b-sm">
		<div class="col-md-7 form-inline p-l-none">
			<label  class="">来源渠道：</label>
			<select type="text" name="appId" class="form-control" [(ngModel)]="appId">
				<option [value]="item.resourceId" *ngFor="let item of appIdList">{{item.resourceName}}</option>
			</select>

			<input type="text " name="memberName" class="form-control m-l-md mar-r-xs" maxlength="30" [(ngModel)]="memberName" placeholder="会员名">
			<button class="btn-def" (click)="page=0;getDataList()" >查询<i class="fa fa-search"></i></button>
		</div>
		<!-- <div class="col-md-6 l-h-2x">
			共<span class="text-info text-lg">{{memberTotal}}</span>名会员，其中配置电子账户有<span class="text-info text-lg">{{isOpenAccount}}</span>名，配置率 <span class="text-info text-lg">{{isOpenAccountRate}}%</span>
		</div> -->
		<div class="col-md-5 l-h-2x" *ngIf="authRole.roleIn(['002'])||authRole.roleIn(['008'])">
			已配置电子账户有<span class="text-info text-lg">{{isOpenAccount}}</span>名，未配置电子账户<a class="text-info text-lg text-underline" (click)="showModal()">{{notOpenAccount}}</a>名，配置率 <span class="text-info text-lg">{{isOpenAccountRate | percent:'.2'}}</span>
		</div>
	</div>
	<div>
		<p-dataTable  [value]="dataList"
                 emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}"
                 [loading]="loading" expandableRows="true" scrollable="true" scrollHeight="375px">
			<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
			<p-column field="appName" header="归属渠道" [style]="{'width':'100px'}"></p-column>
			<p-column field="name" header="会员名称" [style]="{'width':'100px'}"></p-column>
			<p-column field="mainAccount.accountId" header="二级账户ID" styleClass="text-center" [style]="{'width':'150px'}"></p-column>
			<p-column field="mainAccount.accountName" header="账户名" [style]="{'width':'100px'}"></p-column>
			<p-column field="mainAccount.bankAccount" header="银行账户号" styleClass="text-center" [style]="{'width':'180px'}"></p-column>

			<p-column field="mainAccount.inAccountTypeDic" header="账
			户类型" [style]="{'width':'100px'}"></p-column>
			<p-column field="mainAccount.availableBalance" header="可用余额(元)" [style]="{'width':'120px'}">
				<ng-template let-row="rowData" pTemplate="body">
					<div class="text-right">
					{{row.mainAccount.availableBalance | yuanFormat:2:true}}
					</div>
			</ng-template>
			</p-column>
			<p-column field="mainAccount.undeterminedBalance" header="在途金额(元)" [style]="{'width':'120px'}">
				<ng-template let-row="rowData" pTemplate="body">
					<div class="text-right">
					{{row.mainAccount.undeterminedBalance | yuanFormat:2:true}}
					</div>
			</ng-template>
			</p-column>
			<p-column field="mainAccount.freezeBalance" header="冻结金额(元)" [style]="{'width':'120px'}">
				<ng-template let-row="rowData" pTemplate="body">
					<div class="text-right">
					{{row.mainAccount.freezeBalance | yuanFormat:2:true}}
					</div>
			</ng-template>
			</p-column>
			<ng-template let-row pTemplate="rowexpansion">
		        <div class="ui-grid ui-grid-responsive ui-fluid">
		            <div class="ui-grid-row">
		                <p-dataTable tableStyleClass="table-style" [value]="row.slaveAccounts" >
						<p-column field="accountId" header="账户ID" styleClass="text-center"></p-column>
						<p-column field="accountName" header="账户名" styleClass="text-center"></p-column>
						<p-column field="accountTypeDic" header="三级账户类型"></p-column>
						<p-column field="availableBalance" header="可用余额(元)">
							<ng-template let-row="rowData" pTemplate="body">
								<div class="text-right">
								{{row.availableBalance | yuanFormat:2:true}}
								</div>
							</ng-template>
						</p-column>
						<p-column field="undeterminedBalance" header="在途金额(元)">
							<ng-template let-row="rowData" pTemplate="body">
								<div class="text-right">
								{{row.undeterminedBalance | yuanFormat:2:true}}
								</div>
							</ng-template>
						</p-column>
						<p-column field="freezeBalance" header="冻结金额(元)">
							<ng-template let-row="rowData" pTemplate="body">
								<div class="text-right">
								{{row.freezeBalance | yuanFormat:2:true}}
								</div>
							</ng-template>
						</p-column>
						<p-column field="lockBalance" header="锁定金额(元)">
							<ng-template let-row="rowData" pTemplate="body">
								<div class="text-right">
								{{row.lockBalance | yuanFormat:2:true}}
								</div>
							</ng-template>
						</p-column>
						<p-column field="accountStatusDic" header="账户状态"></p-column>
						<p-column field="lastTranTime" header="最后交易时间" styleClass="text-center"></p-column>
						</p-dataTable>
		                <!-- <div class="ui-grid-col-9">
		                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
		                        <div class="ui-grid-row">
		                            <div class="ui-grid-col-2 label">Vin: </div>
		                            <div class="ui-grid-col-10">{{row.appName}}</div>
		                        </div>
		                        <div class="ui-grid-row">
		                            <div class="ui-grid-col-2 label">Year: </div>
		                            <div class="ui-grid-col-10">{{row.appName}}</div>
		                        </div>
		                        <div class="ui-grid-row">
		                            <div class="ui-grid-col-2 label">Brand: </div>
		                            <div class="ui-grid-col-10">{{row.appName}}</div>
		                        </div>
		                        <div class="ui-grid-row">
		                            <div class="ui-grid-col-2 label">Color: </div>
		                            <div class="ui-grid-col-10">{{row.appName}}</div>
		                        </div>
		                    </div>
		                </div> -->
		            </div>
		        </div>
		    </ng-template>
	      <!-- <p-column field="slaveAccount.lockBalance" header="锁定金额(元)"></p-column>

	      <p-column field="slaveAccount.lastTranTime" header="最后更新"></p-column> -->

	      <p-footer>
	        <div class="clearfix">
	          <div class="pull-right">
	            <paginator [(index)]="page" [count]="count" [changePageSizeAble]="true" [(pageSize)]="rows" (onChangePage)="getDataList()" size="sm" [showTotal]="true"></paginator>
	          </div>
	        </div>
	      </p-footer>
	    </p-dataTable>
	</div>
</div>

<!-- 模态框部分 -->
<modal [(visible)]="notOpenAccModal" size="md">
  <modal-header>
    <h4 class="modal-title">未开户会员</h4>
  </modal-header>
  <modal-body>
    <div>
      <table class="table" border="1">
      	<tbody>
      		<tr *ngFor="let item of notAccountMemberList">
      			<td>{{item.companyName}}</td>
      			<td>{{item.appName}}</td>
      			<td *ngIf="authRole.roleIn(['002'])"><a class="text-info" (click)="goToOpen(item.companyName)" >去开户</a></td>
      		</tr>
      	</tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" (click)="closeModal()">关闭</button>


  </modal-footer>
</modal>
