<div class="page-location">
  <a class="h4 pad-r-xs font-bold">{{ifEdit?'修改':'新增'}}客户名册</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i><span>拓展管理</span><i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active"><span *ngIf="!ifEdit">新增</span><span *ngIf="ifEdit">修改</span></a>
</div>

<div class="wrapper">
  <form #customForm="ngForm" (ngSubmit)='onSubmit()'>
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left required">客户名称：</label>
          <div class="pull-left">
            <input placeholder="请输入关键字" type="text" name="guestName" class="form-control" required maxlength="30" [(ngModel)]="guestName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left required">获客途径：</label>
          <div class="pull-left">
            <!-- <select class="form-control min-width" name="guestFrom" required [(ngModel)]="guestFrom" (change)="appId='C00001'"> -->
              <select class="form-control min-width" name="guestFrom" required [(ngModel)]="guestFrom" (change)="change()">
              <option [value]="undefined" hidden>请选择</option>
              
              <option [value]="item.value" *ngFor="let item of guest_from">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left required">归属渠道：</label>
          <div class="pull-left">
            <select class="form-control min-width" name="appId" required [(ngModel)]="appId" [disabled]="guestFrom!='1'">
              <option [value]="undefined" hidden>请选择</option>
                <option [value]="item.resourceId" *ngFor="let item of app_list">{{item.resourceName}}</option>
              
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">服务经理：</label>
          <span class="form-control-static"> {{serviceMan}}</span>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left required">状态：</label>
          <div class="pull-left ">
            <select class="form-control min-width" name="status" required [(ngModel)]="status" [disabled]="!ifEdit">
              <option [value]="undefined" hidden>请选择</option>
              
              <option [value]="item.value" *ngFor="let item of guest_status">{{item.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </section >
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left required">联系人：</label>
          <div class="pull-left">
            <input placeholder="请输入关键字" type="text" name="linkName" class="form-control " required maxlength="30" [(ngModel)]="linkName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left required">联系人手机：</label>
          <div class="pull-left">
            <input placeholder="请输入关键字" type="number" name="linkMobile" class="form-control " required maxlength="30" [(ngModel)]="linkMobile">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left">联系人职位：</label>
          <div class="pull-left">
            <input placeholder="请输入关键字" type="text" name="linkJob" class="form-control " maxlength="30" [(ngModel)]="linkJob">
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group clearfix">
          <label class="control-label pull-left">营业执照号：</label>
          <div class="pull-left" style="min-width: 300px;max-width: 100%">
            <input placeholder="请输入关键字" type="text" name="licenceNum" class="form-control " maxlength="30" [(ngModel)]="licenceNum">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left">公司类型：</label>
          <div class="pull-left">
            <select name="companyType"  class="form-control min-width" [(ngModel)]="companyType">
              <option [value]="undefined" hidden>请选择</option>
              
              <option [value]="item.value" *ngFor="let item of guest_company_type">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="control-label pull-left">注册资金：</label>
          <div class="pull-left">
            <input placeholder="请输入关键字" type="number" name="registerCapital" class="form-control " maxlength="30" [(ngModel)]="registerCapital">
          </div>
          <span class="pull-left" style="padding-top: 8px;padding-left: 10px;">  万元</span>
        </div>
        <div class="form-group">
          <label class="control-label pull-left">成立时间：</label>
          <div class="pull-left">
            <input placeholder="请输入关键字" type="text" name="foundTime" datePicker class="form-control " maxlength="30" [(ngModel)]="foundTime">
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="control-label pull-left">公司地址：</label>
          <div class="pull-left" style="min-width: 300px;max-width: 100%;">
            <div class="row">
              <div class="col-md-6 no-r-padding">
                <select name="provnice"  class="form-control" [(ngModel)]="province" (ngModelChange)='getCityList("1")'>
              <option [value]="undefined" hidden>请选择</option>
                  
                  <option [value]='item.name' *ngFor="let item of provinceList">{{item.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <select name="city"  class="form-control" [(ngModel)]="city" [disabled]='!province'>
              <option [value]="undefined" hidden>请选择</option>
                  
                  <option [value]="item.name" *ngFor="let item of cityList">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="row m-t-xs">
              <div class="col-md-12">
                <input placeholder="请输入关键字" type="text" name="detailAddress" class="form-control " maxlength="180" [(ngModel)]="detailAddress">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section >
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">备注：</label>
          <div class="pull-left ">
            
            <textarea name="remark" class="form-control" cols="50" rows="3" placeholder="小于200字" maxlength="200" [(ngModel)]="remark"></textarea>   
          </div>
        </div>
      </div>
    </section >
    <section class="text-center">
      <button type="submit" [disabled]="!customForm.form.valid" class="btn-def mar-r-sm">保存<i class="fa fa-check-circle-o"></i></button>
    	<button type="button" class="btn-def" (click)='cancel()'>放弃<i class="fa fa-times-circle-o"></i></button>
    </section>
  </form>
</div>
