<div class="page-location">
  <a class="h4 pad-r-xs font-bold">会员详情</a>
  <a class="page-location-item">
    <i class="page-location-icon glyphicon glyphicon-user"></i>
    会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">会员详情</a>
</div>
<div class="wrapper-md">
  <section class="panel-body group">
    <div class="form-group clearfix">
        <div class="col-md-6">
            <label class="label-control">客户名称:</label>
            <span class="col-md-8 row text-content">{{companyName}}  ({{memberId}})</span>
        </div>
        <div class="col-md-6">
            <label class="label-control">创建日期:</label>
            <span class="text-content">{{createTime | filterNull:false | effDateFormat}}</span>
        </div>
    </div>
    <div class="form-group clearfix">

        <div class="col-md-6">
            <label class="label-control">归属渠道:</label>
            <span class="text-content">{{prmResourceRegister.resourceName | filterNull:false}}</span>
        </div>
         <div class="col-md-6">
            <label class="label-control">类别:</label>
            <span class="text-content">{{memberTypeDic | filterNull:false}}</span>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="col-md-6">
            <label class="label-control">服务经理:</label>
            <span class="text-content">{{serviceMan | filterNull:false}}</span>
        </div>
        <div class="col-md-6">
            <label class="label-control">状态:</label>
            <span class="text-content">{{memberStatusDic | filterNull:false}}</span>
        </div>

    </div>
    <div class="form-group clearfix">
        <div class="col-md-6">
            <label class="label-control">信用等级:</label>
            <span class="text-content">{{memberRating | filterNull:false}}</span>
        </div>
        <div class="col-md-6">
            <label class="label-control">信用评分:</label>
            <span class="text-content">{{memberRatingGrate | filterNull:false}}</span>
        </div>

    </div>
    <div class="clearfix">
        <!-- <div class="col-md-6">
            <label class="label-control">评估日期:</label>
            <span class="text-content">--</span>
        </div> -->
        <div class="col-md-6">
            <label class="label-control">尽调报告:</label>
           <!-- <span class="text-info" ><a [routerLink]="['/memberM/memberManage/detail',memberId,'memberReport']" class="text-info">查看</a></span>-->
          <span class="text-content">--</span>
        </div>

    </div>


    <!-- <div class="form-group clearfix">
        <label class="label-control">类别:</label>
        <span class="text-content">{{memberTypeDic}}</span>
    </div>
    <div class="form-group clearfix">
        <label class="label-control">状态:</label>
        <span>{{memberStatusDic}}</span>
    </div> -->

  </section >
  <section class="panel-body group m-t-md">

    <div class="clearfix">
        <div class="col-md-9 m-t-xs">
            <span class="m-l-md"><a class="text-info" (click)="companyInfo('borrower')">借款人信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="companyInfo('companyInfo')">公司信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="companyInfo('legalPerson')">法人信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="companyInfo('bankInfo')">银行信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="runSituation()">运营信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="riskM('assetInfo')">资产信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="riskM('debtInfo')">负债信息</a></span>
            <span class="m-l-md"><a class="text-info" (click)="riskM('agreementInfo')">履约信息</a></span>
        </div>
        <div class="col-md-3">

            <div class="col-md-3"><button class=" btn-def" (click)='eleAttachment()'>所有电子附件</button></div>
        </div>

    </div>

    <!-- <div class="form-group clearfix">
        <span><a class="text-info" (click)="companyInfo('companyInfo')">公司信息</a></span>
        <span><a class="text-info" (click)="companyInfo('legalPerson')">法人信息</a></span>
        <span><a class="text-info" (click)="companyInfo('borrower')">借款人信息</a></span>
        <span><a class="text-info" (click)="companyInfo('bankInfo')">银行信息</a></span>
    </div>
    <div class="form-group clearfix">
    	<div class="col-md-6 row m-t-xs">
    		<span><a class="text-info" (click)="riskM('assetInfo')">资产信息</a></span>
        	<span><a class="text-info" (click)="riskM('debtInfo')">负债信息</a></span>
        	<span><a class="text-info" (click)="riskM('agreementInfo')">履约信息</a></span>
    	</div>
    	<div class="col-md-6">
    		<label for="" class="label-control m-t-xs">电子附件</label>
    		<div class="col-md-3"><button class="btn btn-info" (click)='eleAttachment()'>查看</button></div>
    	</div>

    </div>
    <div class="clearfix">
        <span><a class="text-info" (click)="runSituation()">运营信息</a></span>

    </div> -->

  </section>


	<!-- <section class="panel-body bg-white m-t-md">
		<div class="form-group clearfix">
        	<label class="label-control">尽调报告:</label>
        	<span class="col-md-7 row text-info" ><a [routerLink]="['/memberM/memberManage/detail',memberId,'memberReport']" class="text-info">查看</a></span>
        	<label class="label-control">更新时间:</label>
        	<span class="text-content">{{reportsVo.updateTime}}</span>
    	</div>
    	<div class="form-group clearfix">
        	<label class="label-control">信用等级:</label>
        	<span class="col-md-7 row">{{memberRating}}</span>
        	<label class="label-control">评估日期:</label>
        	<span class="text-content">待处理</span>
    	</div>
    	<div class="form-group clearfix">
        	<label class="label-control">信用评分:</label>
        	<span class="col-md-7 row text-content">{{memberRatingGrate}}</span>

    	</div>
	</section> -->
	<section class="m-t">
		<div class="text-center">
			<button class="btn-def" (click)="back()">返回<i class="fa fa-arrow-circle-o-left"></i></button>
		</div>
	</section>
</div>
