<div class="page-location">
  <a class="h4 pad-r-xs font-bold">客户详情</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">客户详情</a>
</div>
<div class="wrapper">
  <form #form>
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label">客户名称：</label>
          <span class="form-control-static">{{guestName}}</span>
        </div>
        <div class="form-group">
          <label class="control-label">获客途径：</label>
          <span class="form-control-static"> {{guestFrom}}</span>
        </div>
        <div class="form-group">
          <label class="control-label">服务经理：</label>
          <span class="form-control-static"> {{serviceMan}}</span>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label">创建时间：</label>
          <span class="form-control-static"> {{createTime}}</span>
        </div>
        <div class="form-group">
          <label class="control-label">状态：</label>
          <span class="form-control-static">{{status}}</span>
        </div>
      </div>
    </section >
    <section class="mar-b-sm form-horizontal form-label-7 group clearfix">
      <div class="col-md-6 ">
        <div class="form-group ">
          <label  class="control-label pull-left">联系人：</label>
          <div class="form-control-static pull-left">
            {{linkName}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系手机：</label>
          <div class="form-control-static pull-left">
            {{linkMobile}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系人职位：</label>
          <div class="form-control-static pull-left">
            {{linkJob}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label  class="control-label pull-left">营业执照号：</label>
          <div class="form-control-static pull-left">
            {{licenceNum}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">公司类型：</label>
          <div class="form-control-static pull-left">
            {{companyType}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">注册资金：</label>
          <div class="form-control-static pull-left">
            {{registerCapital | yuanFormat}} 万元
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">成立时间：</label>
          <div class="form-control-static pull-left">
            {{foundTime}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label  class="control-label pull-left">公司地址：</label>
          <div class="form-control-static pull-left">
            {{companyAddress}}
          </div>
        </div>
      </div>
    </section>
    <section class="">
      <div class="text-center">
        <button class="btn-def" (click)="cancel()">返回<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </section>
  </form>
</div>
