<div class="page-location">
  <a class="h4 pad-r-xs font-bold">客户详情</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">客户详情</a>
</div>
<div class="wrapper">
  <form #form>
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-10">
        <div class="form-group">
          <label class="control-label control-label-special">客户名称：</label>
          <span class="form-control-static">{{guestName | filterNull}}</span>
        </div>
        <div class="form-group">
          <label class="control-label control-label-special">获客途径：</label>
          <span class="form-control-static"> {{guestFrom | filterNull}}</span>
        </div>
        <div class="form-group">
          <label class="control-label control-label-special">归属渠道：</label>
          <span class="form-control-static"> {{appName | filterNull}}</span>
        </div>
        <div class="form-group">
          <label class="control-label control-label-special">服务经理：</label>
          <span class="form-control-static"> {{serviceMan | filterNull}}</span>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-10">
        <div class="form-group">
          <label class="control-label control-label-special">创建时间：</label>
          <span class="form-control-static"> {{createTime | filterNull}}</span>
        </div>
        <div class="form-group">
          <label class="control-label control-label-special">状态：</label>
          <span class="form-control-static">{{status | filterNull}}</span>
        </div>
      </div>
    </section >
    <section class="mar-b-sm form-horizontal form-label-10 group clearfix">
      <div class="col-md-6 ">
        <div class="form-group ">
          <label  class="control-label control-label-special pull-left">联系人：</label>
          <div class="form-control-static pull-left">
            {{linkName | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label control-label-special pull-left">联系手机：</label>
          <div class="form-control-static pull-left">
            {{linkMobile | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label control-label-special pull-left">联系人职位：</label>
          <div class="form-control-static pull-left">
            {{linkJob | filterNull}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label  class="control-label control-label-special pull-left">营业执照号：</label>
          <div class="form-control-static pull-left">
            {{licenceNum | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label control-label-special pull-left">公司类型：</label>
          <div class="form-control-static pull-left">
            {{companyType | filterNull}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label control-label-special pull-left">注册资金：</label>
          <div class="form-control-static pull-left">
            {{registerCapital | filterNull | filterMultiply:0.0001 | yuanFormat:2:true}}<span *ngIf="registerCapital">万元</span>
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label control-label-special pull-left">成立时间：</label>
          <div class="form-control-static pull-left">
            {{foundTime | filterNull}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label  class="control-label control-label-special pull-left">公司地址：</label>
          <div class="form-control-static pull-left enter">
            {{companyAddress | filterNull}}
          </div>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm">
      <div class="col-md-12 form-horizontal form-label-10">
        <div class="form-group">
          <label class="control-label control-label-special col-md-2">备注：</label>
          <span class="form-control-static col-md-10 p-l-none">{{remark | filterNull}}</span>
          <!-- <span class="form-control-static">{{remark}}</span> -->
        </div>

      </div>

    </section >
    <section class="">
      <div class="text-center">
        <button class="btn-def" (click)="cancel()">返回<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </section>
  </form>
</div>
