<div class="page-location">
  <a class="h4 pad-r-xs font-bold">在贷跟踪</a>
  <a class="page-location-item">融资管理
    <i class="pad-l-min fa fa-angle-right"></i>
  </a>
  <a class="page-location-item active">在贷跟踪</a>
</div>
<div class="pad-l-def pad-r-def pad-b-def pad-t-sm">
  <div class="mar-b-sm form-inline">
    <label>贷款单号：</label>
    <input type="text" name="" class="form-control m-l-xs" maxlength="13" [(ngModel)]="borrowApplyId" placeholder="贷款单号" />
    <label class="m-l-md">企业名称：</label>
    <input type="text" name="" class="form-control m-l-xs" maxlength="30" [(ngModel)]="companyName" placeholder="企业名称关键字" />
    <button class="btn-def m-l-md" (click)="page=0;navigate()">查询
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="tab-container">
    <ul class="nav nav-tabs nav-tab-info">
      <li [ngClass]="{'active':tab==='0'}" (click)="tab='0';isOver='';limitDay='';page=0;navigate()">
        <a>全部</a>
      </li>
      <li [ngClass]="{'active':tab==='1'}" (click)="tab='1';isOver='';limitDay='7';page=0;navigate()">
        <a>即将到期</a>
      </li>
      <li [ngClass]="{'active':tab==='2'}" (click)="tab='2';isOver='1';limitDay='';page=0;navigate()">
        <a>已逾期</a>
      </li>
    </ul>
    <span class="form-inline pull-right"></span>
    <div class="tab-content">
      <div class="tab-pane active">
        <p-dataTable [value]="dataList" emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}" [loading]="loading" scrollable="true" scrollHeight="375px">
          <p-column field="borrowApplyId" header="贷款单号" styleClass="text-center" [style]="{'width':'110px'}"></p-column>
          <p-column header='企业名称' [style]="{'width':'160px'}">
            <ng-template let-operation="rowData" pTemplate="body">
              <div textMaxLength="160px" title="{{operation.companyName}}">
                {{operation.companyName}}
              </div>
            </ng-template>
          </p-column>
          <p-column header="贷款产品" [style]="{'width':'100px'}">
            <ng-template let-operation="rowData" pTemplate="body">
              <div textMaxLength="100px" title="{{operation.productName}}">
                {{operation.productName}}
              </div>
            </ng-template>
          </p-column>
          <p-column header="还款日" styleClass="text-center" [style]="{'width':'90px'}">
            <ng-template let-operation="rowData" pTemplate="body">
              <div textMaxLength="90px" title="{{operation.limitTime}}">
                {{operation.limitTime | effDateFormat}}
              </div>
            </ng-template>
          </p-column>
          <p-column header="应还金额(元)" styleClass="text-right" [style]="{'width':'110px'}">
            <ng-template let-operation="rowData" pTemplate="body">
              <div textMaxLength="110px" title="{{operation.approveAmount}}">
                {{operation.approveAmount | yuanFormat:2:true}}
              </div>
            </ng-template>
          </p-column>
          <p-column header="状态" [style]="{'width':'130px'}">
            <ng-template let-operation="rowData" pTemplate="body">
              <div textMaxLength="130px" title="{{operation.statusName}}">
                {{operation.statusName}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="color" header="操作" [style]="{'width':'140px'}">
            <ng-template let-operation="rowData" pTemplate="body" styleClass="text-center">
              <div>
                <a class="table-btn text-info" (click)="detail(operation)">详情</a>
                <a class="table-btn text-info" (click)="getRepaymentPlanList(operation)">还款计划</a>
                <!-- <a class="table-btn text-info" (click)="detail(operation)" *ngIf="authRole.roleIn(['008'])">催收</a> -->
              </div>
            </ng-template>
          </p-column>
          <p-footer>
            <div class="clearfix">
              <div class="pull-right">
                <paginator [(index)]="page" [count]="count" [changePageSizeAble]="true" [(pageSize)]="rows" (onChangePage)="navigate()" size="sm"
                  [showTotal]="true"></paginator>
              </div>
            </div>
          </p-footer>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<!-- 还款计划模态框部分 -->
<modal [(visible)]="repaymentPlanModal" [size]="modalSize">
  <modal-header>
    <h4 class="modal-title">还款计划</h4>
  </modal-header>
  <modal-body>
    <div>
      <p-dataTable tableStyleClass="table-style" [value]="repaymentPlanList"   emptyMessage="{{modalListLoading?'':'没有查询到符合条件的记录'}}" [loading]="modalListLoading"
                   >
        <p-column field="" header="期数">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-center">
              {{data.totalPeriod | filterNull:false}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="计划还款日">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-center">
              {{data.repaymentDate | effDateFormat}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="应还本金(元)">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.repaymentCapital | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="应还利息(元)">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.repaymentInterest | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="罚息(元)" >
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.overdueInterest | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="应还总额(元)">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.repaymentAmount | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="状态">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-center">
              {{data.statusName | filterNull:false}}
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </modal-body>
  <modal-footer styleClass="no-t-padding">
    <button class="btn btn-default" (click)="closeModal()">关闭</button>
  </modal-footer>
</modal>