<div class="page-location">
  <a class="h4 pad-r-xs font-bold">认证申请列表</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">认证申请列表</a>
</div>
<div class="wrapper">
  <div class="tab-container">
    <ul class="nav nav-tabs nav-tab-info">
      <li  [ngClass]="{'active':authApplyReplyNum==1}">
        <a (click)="getList(1)">认证中</a>
      </li>
      <li  [ngClass]="{'active':authApplyReplyNum==2}">
        <a (click)="getList(2)">历史</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <p-dataTable  [value]="dataList" emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}" [loading]="loading"
                     scrollable="true" scrollHeight="360px">

          <p-column field="authId" header="申请ID" [style]="{'width':'150px'}"></p-column>
          <p-column field="companyName" header="客户名称" [style]="{'width':'250px'}"></p-column>
          <p-column field="companyTypeDic" header="类别" [style]="{'width':'100px'}"></p-column>
          <p-column field="serviceMan" header="服务经理" [style]="{'width':'120px'}"></p-column>
          <p-column field="statusDic" header="状态" [style]="{'width':'100px'}"></p-column>
          <p-column field="createTime" header="申请时间" styleClass="text-center" [style]="{'width':'200px'}"></p-column>
          <p-column field="ooo" header="操作" [style]="{'width':'100px'}">
            <ng-template let-operation="rowData" pTemplate="body" styleClass="text-center">
              <div class="text-center">
                <a class="table-btn text-info" (click)='detail(operation)'>详情</a>
              </div>
            </ng-template>
          </p-column>
          <p-footer>
            <div class="clearfix">
              <div class="pull-right">
                <paginator [(index)]="page" [count]="count" [changePageSizeAble]="true" [(pageSize)]="rows" (onChangePage)="getList(authApplyReplyNum)" size="sm" [showTotal]="true"></paginator>
              </div>
            </div>
          </p-footer>
        </p-dataTable>
      </div>
    </div>
  </div>





</div>
