<div class="page-location">
  <a class="h4 pad-r-xs font-bold">电子附件</a>
  <a class="page-location-item"><!-- <i class="page-location-icon glyphicon glyphicon-user"></i> -->会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item">会员详情<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">电子附件</a>
</div>
<div class="wrapper">
  <section class="clearfix mar-b-sm">
    <div class="col-md-6 group">
      <div class="group-title">基本资质类</div>
      <div class="col-md-12 wrapper">
        <table class="table no-border">
          <tbody>
            <tr>
              <td class="col-md-10">四证合一</td>
              <td>
                <preview-or-download [fileId]="attachment['0101'].fileLoadId" *ngIf="attachment['0101']" (tranferFileType)="tranferFileType($event,'0101')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0101']" (click)="show($event,'0101')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0101']" (click)="download('0101')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0101']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0101']" (click)="show($event,'0101')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">公司章程</td>
              <td>
                <preview-or-download [fileId]="attachment['0102'].fileLoadId" *ngIf="attachment['0102']" (tranferFileType)="tranferFileType($event,'0102')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0102']" (click)="show($event,'0102')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0102']" (click)="download('0102')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0102']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0102']" (click)="show($event,'0102')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">验资报告</td>
              <td>
                <preview-or-download [fileId]="attachment['0103'].fileLoadId" *ngIf="attachment['0103']" (tranferFileType)="tranferFileType($event,'0103')">
                  <a class="fa fa-search text-disabled" [class.text-info]="attachment['0103']" (click)="show($event,'0103')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0103']" (click)="download('0103')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0103']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0103']" (click)="show($event,'0103')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">申请人身份证（正面）</td>
              <td>
                <preview-or-download [fileId]="attachment['0104'].fileLoadId" *ngIf="attachment['0104']" (tranferFileType)="tranferFileType($event,'0104')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0104']" (click)="show($event,'0104')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0104']" (click)="download('0104')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0104']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0104']" (click)="show($event,'0104')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">申请人身份证（反面）</td>
              <td>
                <preview-or-download [fileId]="attachment['0105'].fileLoadId" *ngIf="attachment['0105']" (tranferFileType)="tranferFileType($event,'0105')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0105']" (click)="show($event,'0105')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0105']" (click)="download('0105')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0105']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0105']" (click)="show($event,'0105')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">配偶身份证（正面）</td>
              <td>
                <preview-or-download [fileId]="attachment['0106'].fileLoadId" *ngIf="attachment['0106']" (tranferFileType)="tranferFileType($event,'0106')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0106']" (click)="show($event,'0106')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0106']" (click)="download('0106')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0106']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0106']" (click)="show($event,'0106')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">配偶身份证（反面）</td>
              <td>
                <preview-or-download [fileId]="attachment['0107'].fileLoadId" *ngIf="attachment['0107']" (tranferFileType)="tranferFileType($event,'0107')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0107']" (click)="show($event,'0107')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0107']" (click)="download('0107')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0107']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0107']" (click)="show($event,'0107')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">结婚证（正面）</td>
              <td>
                <preview-or-download [fileId]="attachment['0108'].fileLoadId" *ngIf="attachment['0108']" (tranferFileType)="tranferFileType($event,'0108')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0108']" (click)="show($event,'0108')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0108']" (click)="download('0108')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0108']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0108']" (click)="show($event,'0108')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">结婚证（反面）</td>
              <td>
                <preview-or-download [fileId]="attachment['0109'].fileLoadId" *ngIf="attachment['0109']" (tranferFileType)="tranferFileType($event,'0109')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0109']" (click)="show($event,'0109')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0109']" (click)="download('0109')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0109']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0109']" (click)="show($event,'0109')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">户口本</td>
              <td>
                <preview-or-download [fileId]="attachment['0110'].fileLoadId" *ngIf="attachment['0110']" (tranferFileType)="tranferFileType($event,'0110')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0110']" (click)="show($event,'0110')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0110']" (click)="download('0110')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0110']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0110']" (click)="show($event,'0110')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">人行版征信报告</td>
              <td>
                <preview-or-download [fileId]="attachment['0111'].fileLoadId" *ngIf="attachment['0111']" (tranferFileType)="tranferFileType($event,'0111')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0111']" (click)="show($event,'0111')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0111']" (click)="download('0111')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0111']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0111']" (click)="show($event,'0111')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">申请人与经营场所合照</td>
              <td>
                <preview-or-download [fileId]="attachment['0112'].fileLoadId" *ngIf="attachment['0112']" (tranferFileType)="tranferFileType($event,'0112')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0112']" (click)="show($event,'0112')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0112']" (click)="download('0112')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0112']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0112']" (click)="show($event,'0112')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">公司门面照</td>
              <td>
                <preview-or-download [fileId]="attachment['0113'].fileLoadId" *ngIf="attachment['0113']" (tranferFileType)="tranferFileType($event,'0113')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0113']" (click)="show($event,'0113')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0113']" (click)="download('0113')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0113']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0113']" (click)="show($event,'0113')" title="查看"></a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="group clearfix mar-b-sm col-right">
        <div class="group-title">业务资质类</div>
        <div class="col-md-12 wrapper">
          <table class="table no-border">
            <tbody>
              <tr>
                <td class="col-md-10">职业资格证书（财务）</td>
                <td>
                  <preview-or-download [fileId]="attachment['0201'].fileLoadId" *ngIf="attachment['0201']" (tranferFileType)="tranferFileType($event,'0201')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0201']" (click)="show($event,'0201')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0201']" (click)="download('0201')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0201']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0201']" (click)="show($event,'0201')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">道路运输可证</td>
                <td>
                  <preview-or-download [fileId]="attachment['0202'].fileLoadId" *ngIf="attachment['0202']" (tranferFileType)="tranferFileType($event,'0202')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0202']" (click)="show($event,'0202')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0202']" (click)="download('0202')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0202']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0202']" (click)="show($event,'0202')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">运输合作合同</td>
                <td>
                  <preview-or-download [fileId]="attachment['0203'].fileLoadId" *ngIf="attachment['0203']" (tranferFileType)="tranferFileType($event,'0203')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0203']" (click)="show($event,'0203')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0203']" (click)="download('0203')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0203']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0203']" (click)="show($event,'0203')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">营运车辆机动车登记证</td>
                <td>
                  <preview-or-download [fileId]="attachment['0204'].fileLoadId" *ngIf="attachment['0204']" (tranferFileType)="tranferFileType($event,'0204')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0204']" (click)="show($event,'0204')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0204']" (click)="download('0204')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0204']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0204']" (click)="show($event,'0204')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">行驶证</td>
                <td>
                  <preview-or-download [fileId]="attachment['0205'].fileLoadId" *ngIf="attachment['0205']" (tranferFileType)="tranferFileType($event,'0205')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0205']" (click)="show($event,'0205')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0205']" (click)="download('0205')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0205']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0205']" (click)="show($event,'0205')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">营运车辆挂靠协议</td>
                <td>
                  <preview-or-download [fileId]="attachment['0206'].fileLoadId" *ngIf="attachment['0206']" (tranferFileType)="tranferFileType($event,'0206')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0206']" (click)="show($event,'0206')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0206']" (click)="download('0206')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0206']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0206']" (click)="show($event,'0206')" title="查看"></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="group clearfix col-right" style="min-height: 244px">
        <div class="group-title">资产类</div>
        <div class="col-md-12 wrapper">
          <table class="table no-border">
            <tbody>
              <tr>
                <td class="col-md-10">房产证明</td>
                <td>
                  <preview-or-download [fileId]="attachment['0301'].fileLoadId" *ngIf="attachment['0301']" (tranferFileType)="tranferFileType($event,'0301')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0301']" (click)="show($event,'0301')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0301']" (click)="download('0301')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0301']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0301']" (click)="show($event,'0301')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">租赁（房）合同</td>
                <td>
                  <preview-or-download [fileId]="attachment['0302'].fileLoadId" *ngIf="attachment['0302']" (tranferFileType)="tranferFileType($event,'0302')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0302']" (click)="show($event,'0302')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0302']" (click)="download('0302')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0302']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0302']" (click)="show($event,'0302')" title="查看"></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="clearfix mar-b-sm">
    <div class="col-md-6 group">
      <div class="group-title">银行类</div>
      <div class="col-md-12 wrapper">
        <table class="table no-border">
          <tbody>
            <tr>
              <td class="col-md-10">开户证明</td>
              <td>
                <preview-or-download [fileId]="attachment['0501'].fileLoadId" *ngIf="attachment['0501']" (tranferFileType)="tranferFileType($event,'0501')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0501']" (click)="show($event,'0501')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0501']" (click)="download('0501')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0501']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0501']" (click)="show($event,'0501')" title="查看"></a> -->
              </td>
            </tr>
            <tr>
              <td class="col-md-10">银行卡</td>
              <td>
                <preview-or-download [fileId]="attachment['0502'].fileLoadId" *ngIf="attachment['0502']" (tranferFileType)="tranferFileType($event,'0502')">
                  <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0502']" (click)="show($event,'0502')" title="查看"></a>
                  <a class="fa fa-download" [class.text-info]="attachment['0502']" (click)="download('0502')" title="下载"></a>
                </preview-or-download>
                <a *ngIf="!attachment['0502']" class="fa fa-search text-disabled" title="查看"></a>
                <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0502']" (click)="show($event,'0502')" title="查看"></a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="group col-right clearfix" style="min-height: 116px;">
        <div class="group-title">业务运营类</div>
        <div class="col-md-12 wrapper">
          <table class="table no-border">
            <tbody>
              <tr>
                <td class="col-md-10">货物保险</td>
                <td>
                  <preview-or-download [fileId]="attachment['0404'].fileLoadId" *ngIf="attachment['0404']" (tranferFileType)="tranferFileType($event,'0404')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0404']" (click)="show($event,'0404')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0404']" (click)="download('0404')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0404']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0404']" (click)="show($event,'0404')" title="查看"></a> -->
                </td>
              </tr>
              <tr>
                <td class="col-md-10">自有车辆保险</td>
                <td>
                  <preview-or-download [fileId]="attachment['0405'].fileLoadId" *ngIf="attachment['0405']" (tranferFileType)="tranferFileType($event,'0405')">
                    <a class="fa fa-search text-disabled m-r-md" [class.text-info]="attachment['0405']" (click)="show($event,'0405')" title="查看"></a>
                    <a class="fa fa-download" [class.text-info]="attachment['0405']" (click)="download('0405')" title="下载"></a>
                  </preview-or-download>
                  <a *ngIf="!attachment['0405']" class="fa fa-search text-disabled" title="查看"></a>
                  <!-- <a class="fa fa-search text-disabled" [class.text-info]="attachment['0405']" (click)="show($event,'0405')" title="查看"></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="col-md-12 text-center m-b-md">
      <button class="btn-def" (click)="back()">返回<i class="fa fa-arrow-circle-o-left"></i></button>
    </div>
  </section>
</div>
<gallery #gallery size="lg"></gallery>
<previewer></previewer>
