//new
section{
  padding: 10px 40px;
}
.form-group{
  margin-bottom:5px;
}
.form-control-static{
  color:#b6550f;
}
.table.table-bordered,.table.table-bordered > tbody > tr > td{
  border-color: transparent;
}
.text-disabled{
  color: #aaa
}
.text-info {
    color: #23b7e5;
}
.newLine{
	word-wrap: break-word;
}
.img-control{
  position: absolute;
  top: 15%;
  right: 5%;
}
.img-size{
  width: 150px;
  height: 150px;
}
