<div class="page-location">
  <a class="h4 pad-r-xs font-bold">会员认证详情</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">会员认证详情</a>
</div>
<div class="wrapper">
  <form #form>
    <section class="form-horizontal form-label-7 clearfix group mar-b-sm">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label pull-left" >申请ID：</label>
          <div class="form-control-static pull-left text-content">
            {{authId | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label pull-left">申请时间：</label>
          <div class="form-control-static pull-left">
            {{createTime | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="mar-b-sm form-horizontal form-label-7 group clearfix">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label pull-left" >客户名称：</label>
          <div class="form-control-static pull-left">
            {{companyName | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left" >获客途径：</label>
          <div class="form-control-static pull-left">
            {{guestFromDic | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left" >归属渠道：</label>
          <div class="form-control-static pull-left">
            {{appName | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left" >服务经理：</label>
          <div class="form-control-static pull-left">
            {{serviceMan | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label pull-left">状态：</label>
          <div class="form-control-static pull-left">
            {{statusDic | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left" >类别：</label>
          <div class="form-control-static pull-left">
            {{memberTypeDic | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="mar-b-sm form-horizontal form-label-7 group clearfix">
      <div class="col-md-6 ">
        <div class="form-group">
          <label  class="control-label pull-left">联系人：</label>
          <div class="form-control-static pull-left">
            {{linkName | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系手机：</label>
          <div class="form-control-static pull-left">
            {{linkMobile | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系人职位：</label>
          <div class="form-control-static pull-left">
            {{linkJob | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">是否法人：</label>
          <div class="form-control-static pull-left">
            {{isLegalDic | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">身份证号：</label>
          <div class="form-control-static pull-left">
            {{linkIdcard | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label  class="control-label pull-left">营业执照号：</label>
          <div class="form-control-static pull-left">
            {{licenceNum | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">公司类型：</label>
          <div class="form-control-static pull-left">
            {{companyTypeDic | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">注册资金：</label>
          <div class="form-control-static pull-left">
            {{registerCapital | filterNull:false | filterMultiply:0.0001 | yuanFormat:2:true}}<span *ngIf="registerCapital">万元</span>
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">成立时间：</label>
          <div class="form-control-static pull-left">
            {{foundTime | filterNull:false}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label  class="control-label pull-left">公司地址：</label>
          <div class="form-control-static pull-left newLine col-md-9 p-l-none">
            {{companyAddress | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="mar-b-sm form-horizontal form-label-7 group clearfix" *ngIf="statusDic!=='认证中'">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label pull-left" >审核人：</label>
          <div class="form-control-static pull-left">
            {{auditBy | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left" >审核意见：</label>
          <div class="form-control-static pull-left">
            {{auditRemark | filterNull:false}}
            <!-- {{auditRemark}} -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label pull-left">审核时间：</label>
          <div class="form-control-static pull-left">
            {{auditDate | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="group clearfix mar-b-sm" *ngIf="statusDic=='认证中'">
      <div class="group-title">附件</div>
      <div class="col-md-12">
       <!-- <label class="col-md-3">附件：</label>-->
        <div class="col-md-6">
          
          <div *ngIf="!(attch1TypeDic||attch2TypeDic||attch3TypeDic||attch4TypeDic||attch5TypeDic)">未上传附件</div>

          <table class="table no-margin table-bordered" >
            <tbody>
              <tr *ngIf="attch1Type">
                <td>{{attch1TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="gallery.open($event,1, ['',''])">查看</a></td> -->
                <!-- <td><a class="text-info" (click)="checkAttach($event,attch1Loadid)">查看</a></td> -->
                <td><a class="fa fa-search text-disabled" [class.text-info]="attch1Loadid" (click)="checkAttach($event,attch1Loadid)" title="查看"></a></td>
              </tr>
              <tr *ngIf="attch2Type">
                <td>{{attch2TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="checkAttach($event,attch2Loadid)">查看</a></td> -->
                <td><a class="fa fa-search text-disabled" [class.text-info]="attch2Loadid" (click)="checkAttach($event,attch2Loadid)" title="查看"></a></td>
              </tr>
              <tr *ngIf="attch3Type">
                <td>{{attch3TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="checkAttach($event,attch3Loadid)">查看</a></td> -->
                <td><a class="fa fa-search text-disabled" [class.text-info]="attch3Loadid" (click)="checkAttach($event,attch3Loadid)" title="查看"></a></td>
              </tr>
              <tr *ngIf="attch4Type">
                <td>{{attch4TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="checkAttach($event,attch4Loadid)">查看</a></td> -->
                <td><a class="fa fa-search text-disabled" [class.text-info]="attch4Loadid" (click)="checkAttach($event,attch4Loadid)" title="查看"></a></td>
              </tr>
              <tr *ngIf="attch5Type">
                <td>{{attch5TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="checkAttach($event,attch5Loadid)">查看</a></td> -->
                <td><a class="fa fa-search text-disabled" [class.text-info]="attch5Loadid" (click)="checkAttach($event,attch5Loadid)" title="查看"></a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </section>
    <section>
      <div class="text-center">
        <button class="btn-def" (click)="back()">返回<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </section>
  </form>
</div>
<gallery #gallery size="lg"></gallery>
