.wrapperForTwo {
  padding: 16px 8px;
  overflow: hidden;
}

.wrapperTwoLeft {
  margin-left: -8px;
  margin-right: 8px;
}

.wrapperTwoRight {
  margin-left: 8px;
  margin-right: -8px;
}

.label-control {
  float: left;
  margin-top: 5px;
  margin-right: 6px;
}
.label-special-w{
	width:74px;
}

.table tr td,.table tr th{
  border: 1px solid #ddd
}

.table thead tr th{
  border-bottom: none;
}
.uploadBtn{
  position: absolute;
  top: 0px;
  opacity: 0;
  width: 54px;
  left: 0px;
  height: 34px;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th{
  padding: 8px 8px
}