//new
section{
  padding: 10px 40px;
}
.form-group{
  margin-bottom:5px;
}
.form-control-static{
  color:#b6550f;
}
.table.table-bordered,.table.table-bordered > tbody > tr > td{
  border-color: #aaa;
}
