<div class="page-location">
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>拓展管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item ">客户名册<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">会员认证详情</a>
</div>
<div class="wrapper">
  <form #form>
    <section >
      <div class="clearfix ">
        <div class="col-md-6">
          <label class="label-control label-special-w" for="geustName">申请ID:</label>
          <div class="col-md-8 m-t-xs">
            {{authId}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w">申请时间:</label>
          <div class="col-md-8 m-t-xs">
            {{createTime}}
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper bg-white">
      <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w" for="geustName">客户名称:</label>
          <div class="col-md-8 m-t-xs">
            {{companyName}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w">状态:</label>
          <div class="col-md-8 m-t-xs">
            {{statusDic}}
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="label-control label-special-w">归属渠道:</label>
        <div class="col-md-4 m-t-xs">
          {{appName}}
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="label-control label-special-w">类别:</label>
        <div class="col-md-4 m-t-xs">
          {{memberTypeDic}}
        </div>
      </div>
      <div class=" clearfix">
        <label class="label-control label-special-w" for="geustName">服务经理:</label>
        <div class="col-md-4 m-t-xs">
          {{serviceMan}}
        </div>
      </div>
    </section>
    <section class="wrapperForTwo ">
      <div class="p-t col-md-6 bg-white wrapperTwoLeft">
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">公司类型:</label>
          <div class="col-md-8 m-t-xs">
            {{companyTypeDic}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">成立时间:</label>
          <div class="col-md-8 m-t-xs">
            {{foundTime}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">注册资金:</label>
          <div class="col-md-8 m-t-xs">
            {{registerCapital | yuanFormat}} 万元
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">营业执照号:</label>
          <div class="col-md-8 m-t-xs">
            {{licenceNum}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">公司地址:</label>
          <div class="col-md-8 m-t-xs">
            {{companyAddress}}
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-white wrapperTwoRight">
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">联系人:</label>
          <div class="col-md-8 m-t-xs">
            {{linkName}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">联系手机:</label>
          <div class="col-md-8 m-t-xs">
            {{linkMobile}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">联系人职位:</label>
          <div class="col-md-8 m-t-xs">
            {{linkJob}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label for="" class="label-control label-special-w">是否法人:</label>
          <div class="col-md-8 m-t-xs">
            {{isLegalDic}}
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper bg-white" *ngIf="statusDic!='认证中'">
      <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w" for="geustName">审核人:</label>
          <div class="col-md-8 m-t-xs">
            {{auditBy}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w">审核时间:</label>
          <div class="col-md-8 m-t-xs">
            {{auditDate}}
          </div>
        </div>
      </div>
      <div class="clearfix">
        <label class="label-control label-special-w">审核意见:</label>
        <div class="col-md-4 m-t-xs">
          {{auditRemark}}
        </div>
      </div>
      
    </section>
    <section class="wrapper bg-white clearfix" *ngIf="statusDic=='认证中'">
      <div class="col-md-12">
        <label class="col-md-3">附件:</label>
        <div class="col-md-6">
          <table class="table" border="1">
            <tbody>
              <tr *ngIf="attch1Type">
                <td>{{attch1TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="gallery.open($event,1, ['',''])">查看</a></td> -->
                <td><a class="text-info" (click)="checkAttach($event,attch1Loadid)">查看</a></td>
              </tr>
              <tr *ngIf="attch2Type">
                <td>{{attch2TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch2Loadid)">查看</a></td>
              </tr>
              <tr *ngIf="attch3Type">
                <td>{{attch3TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch3Loadid)">查看</a></td>
              </tr>
              <tr *ngIf="attch4Type">
                <td>{{attch4TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch4Loadid)">查看</a></td>
              </tr>
              <tr *ngIf="attch5Type">
                <td>{{attch5TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch5Loadid)">查看</a></td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
      
    </section>
    <section class="wrapper">
      <div class="col-md-12 text-center">
        <button class="btn" (click)="back()">返回</button>
      </div>
    </section>
  </form>
</div>
<gallery #gallery></gallery>