<div class="page-location">
  <a class="h4 pad-r-xs font-bold">授信申请详情</a>
  <a class="page-location-item">
    <!-- <i class="page-location-icon glyphicon glyphicon-user"></i> -->会员管理
    <i class="pad-l-min fa fa-angle-right"></i>
  </a>
  <a class="page-location-item">授信申请
    <i class="pad-l-min fa fa-angle-right"></i>
  </a>
  <a class="page-location-item active">详情</a>
</div>
<div class="wrapper pos-rlt" [ngClass]="{'approved-pass':status==1,'approved-refuse':status==-1}">
  <form #form>
    <section class="wrapper border-content m-b-sm padder">
      <div class="clearfix row form-group">
        <!--该处修改-->
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold" for="geustName">申请ID:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{creditAuthId | filterNull:false}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w font-bold">申请时间:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{createTime | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="clearfix row">
        <div class="col-md-6 ">
          <label class="label-control label-special-w font-bold">状态:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{statusDic | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper border-content m-b-sm padder">
      <!--更改-->
      <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold" for="geustName">会员名称:</label>
          <div class="col-md-9 m-t-xs text-content">
            {{memberName}} ({{memberId}})
          </div>
        </div>
      </div>
      <!-- <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold">申请产品:</label>
          <div class="col-md-4 m-t-xs text-content">
            {{productName | filterNull:false}}
          </div>
        </div>
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold">产品类型:</label>
          <div class="col-md-4 m-t-xs text-content">
            {{productTypeName | filterNull:false}}
          </div>
        </div>
      </div> -->
      <div class="clearfix">
        <label class="label-control label-special-w font-bold" for="geustName">服务经理:</label>
        <div class="col-md-4 m-t-xs text-content">
          {{serviceMan | filterNull:false}}
        </div>
      </div>
    </section>
    <!-- <section class="wrapper border-content m-b-sm padder">
        <p-dataTable tableStyleClass="table-style" [value]="modalDataList"   emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}" [loading]="modalListLoading"
                     >
          <p-column field="" header="产品">
            <ng-template let-productName="rowData" pTemplate="body" >
              <div [class.lineThrough]='productName.lineThrough'>
                {{productName.creditFacility.productName}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="" header="类别">
            <ng-template let-productTypeName="rowData" pTemplate="body" >
              <div [class.lineThrough]='productTypeName.lineThrough'> 
                {{productTypeName.creditFacility.productTypeName}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="" header="授信额度(元)">
            <ng-template let-creditValue="rowData" pTemplate="body" >
              <div class="text-right" [class.lineThrough]='creditValue.lineThrough'>
                {{creditValue.creditFacility.creditValue | yuanFormat:2:true}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="" header="可用额度(元)">
            <ng-template let-creditBanlance="rowData" pTemplate="body" >
              <div class="text-right" [class.lineThrough]='creditBanlance.lineThrough'>
                {{creditBanlance.creditFacility.creditBanlance | yuanFormat:2:true}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="" header="有效期" >
            <ng-template let-expiry="rowData" pTemplate="body" styleClass="text-center">
              <div class="text-center" [class.lineThrough]='expiry.lineThrough'>
                {{expiry.creditFacility.expiryDateBegin | effDateFormat}}至{{expiry.creditFacility.expiryDateEnd | effDateFormat}}
              </div>
            </ng-template>
          </p-column>
          <p-column field="" header="更新日期">
            <ng-template let-updateTime="rowData" pTemplate="body" styleClass="text-center">
              <div class="text-center" [class.lineThrough]='updateTime.lineThrough'>
                {{updateTime.creditFacility.updateTime | effDateFormat}}
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
    </section> -->
    <section class="wrapper border-content m-b-sm padder">
      <!--该处修改-->
      <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold" for="geustName">申请额度:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{addCreditValue | filterNull:false | yuanFormat:2:true}}
            <span *ngIf="addCreditValue">元</span>
          </div>
        </div>
      </div>
      <div class="form-group clearfix row">
        <div class="col-md-6 ">
          <label class="label-control label-special-w font-bold">原授信额度:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{oldCreditValue | filterNull:false | yuanFormat:2:true}}
            <span *ngIf="oldCreditValue">元</span>
          </div>
        </div>
      </div>
      <div class="clearfix row">
        <!-- <div class="col-md-6">
          <label class="label-control label-special-w font-bold">有效期:</label>
          <div class="col-md-6 m-t-xs text-content">
            {{expiryDateBegin | effDateFormat}} <span *ngIf="expiryDateBegin">至</span> {{expiryDateEnd | effDateFormat}}
          </div>
        </div> -->
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold">申请原因:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{authRemark | filterNull:false}}
          </div>
        </div>
      </div>

      <!-- <div class="p-t col-md-6 wrapperTwoLeft accordion-group padder">
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">申请额度:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{addCreditValue | yuanFormat}}
          </div>
        </div>
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">有效期:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{expiryDateBegin | effDateFormat}} <span *ngIf="expiryDateBegin">至</span> {{expiryDateEnd | effDateFormat}}
          </div>
        </div>
      </div>
      <div class="col-md-6 wrapperTwoRight panel-default">
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">原授信额度:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{oldCreditValue | yuanFormat}}
          </div>
        </div>
        <div class="form-group clearfix m-t">
          <label for="" class="label-control label-special-w">申请原因:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{authRemark}}
          </div>
        </div>

      </div> -->
    </section>
    <section class="wrapper border-content m-b-sm padder">
      <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold" for="geustName">审批员:</label>
          <div class="col-md-6 m-t-xs text-content">
            {{auditBy | filterNull:false}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w font-bold">审批时间:</label>
          <div class="col-md-6 m-t-xs text-content">
            {{auditDate | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w font-bold">备注:</label>
          <div class="col-md-8 m-t-xs text-content">
            {{auditRemark | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper">
      <div class="col-md-12 text-center">
        <button class="btn-def" (click)="back()">返回
          <i class="fa fa-arrow-circle-o-left"></i>
        </button>
      </div>
    </section>
  </form>
  <section class="clearfix productInfo pos-abt m-t-xl tabel-bg-color" style="height:350px">
    <div class="col-md-12 m-t">
      <table class="table showL b-t">
        <caption class="text-center text-lg font-bold caption-style m-b-md">授信产品</caption>
        <thead>
          <tr>
            <th class="text-center" style="width:150px">产品</th>
            <th class="text-center">额度(元)</th>
            <th class="text-center" style="width:200px">有效期</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productList">
            <td class="text-center tbody-style" *ngIf="item.creditFacility">{{item.creditFacility.productName}}</td>
            <td class="text-right tbody-style" *ngIf="item.creditFacility">{{item.creditFacility.creditValue | yuanFormat:2:true}}</td>
            <td class="text-center tbody-style" *ngIf="item.creditFacility">{{item.creditFacility.expiryDateBegin | effDateFormat}} 至 {{item.creditFacility.expiryDateEnd | effDateFormat}}</td>
          </tr>
          <tr *ngIf="!productList||productList.length===0||!productList[0].creditFacility">
            <td colspan="3" class="text-disabled text-center tbody-style"> 无</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center tfoot-style">合计：</td>
            <td class="text-right tfoot-style">{{totalCreditValue | yuanFormat:2:true | filterNull:false}} 元</td>
          </tr>
        </tfoot>
      </table>
      <div></div>
    </div>
  </section>
</div>