.wrapperForTwo {
  padding: 16px 8px;
  overflow: hidden;
}

.wrapperTwoLeft {
  margin-left: -8px;
  margin-right: 8px;
}

.wrapperTwoRight {
  margin-left: 8px;
  margin-right: -8px;
}

.label-control {
  float: left;
  margin-top: 5px;
  margin-right: 6px;
}
.label-special-w{
	width:80px;
}
.productInfo{
	height: 220px;
	overflow-y: auto;
}
.tbody-style{
	background-color:#fff;
}
.tfoot-style{
	border: 0 !important;
}
.tabel-bg-color{
	background-color:#f6f6f6;
}
.caption-style{
	color:#000;
}

.approved-pass::after{
  content: " ";
  width: 150px;
  height: 150px;
  position: absolute;
  top:20px;
  right:58px;
  background-image: url('../../../../assets/img/pass.png');
  background-size:150px 150px;
  background-repeat: no-repeat;
  background-position-y: -13px;
}

.approved-refuse::after{
  content: " ";
  width: 150px;
  height: 150px;
  position: absolute;
  top:20px;
  right:58px;
  background-image: url('../../../../assets/img/refuse.png');
  background-size:150px 150px;
  background-repeat: no-repeat;
  background-position-y: -13px;
}

.table tr td,.table tr th{
  border: 1px solid #ddd
}

.table thead tr th{
  border-bottom: none;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th{
  padding: 8px 8px
}

// section{
//   padding: 10px 40px;
// }
.form-group{
  margin-bottom:5px;
}
.form-control-static{
  color:#b6550f;
}

.text-info.disabled{
  color: #999
}
.table.no-border tr td{
  border:none;
}
.word-wrap{
  word-wrap:break-word
}
