<div class="page-location">
  <a class="h4 pad-r-xs font-bold">会员账户流水</a>
  <a class="page-location-item">
    <!-- <i class="page-location-icon glyphicon glyphicon-th-list"></i> -->
    账户管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">账户流水</a>
</div>
<div class="pad-l-def pad-r-def pad-b-def pad-t-sm">
  <div class="mar-b-sm clearfix">
    <div class="col-md-12 form-inline">
      <label class="">来源渠道：</label>
      <select type="text" name="appId" class="form-control app-w" [(ngModel)]="appId">
        <option [value]="item.resourceId" *ngFor="let item of appIdList">{{item.resourceName}}</option>
      </select>
      <label class="m-l-xs">交易类型：</label>
      <select type="text" name="tradeType" class="form-control" [(ngModel)]="tradeType">
        <option [value]="item.value" *ngFor="let item of tradeTypeList">{{item.label}}</option>
      </select>
      <label class="m-l-xs">交易日期：</label>
      <div class="input-group date-input-group">
        <input class="form-control" datePicker [opt-max]="endTime" [(ngModel)]="startTime" name="startTime" placeholder="选择日期" />
        <span class="input-group-addon">至</span>
        <input class="form-control" datePicker [opt-min]="startTime" [opt-max]="todayDate" [(ngModel)]="endTime" name="endTime" placeholder="选择日期" />
      </div>
        <input type="text " name="memberName" class="form-control m-l-xs" maxlength="30" [(ngModel)]="memberName" placeholder="会员名">
        <button class="btn-def m-l-xs" (click)="page=0;getDataList()">查询<i class="fa fa-search"></i></button>
    </div>
  </div>
  <div>
    <p-dataTable [value]="dataList" emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}" [loading]="loading" scrollable="true" scrollHeight="375px">
      <p-column field="flowId" header="流水号" styleClass="text-center" [style]="{'width':'280px'}"></p-column>
      <p-column field="createTime" header="交易时间" styleClass="text-center" [style]="{'width':'180px'}"></p-column>
      <p-column field="myAcctNo" header="出账账号" styleClass="text-center" [style]="{'width':'200px'}"></p-column>
      <p-column field="myAcctName" header="出账账户名" [style]="{'width':'200px'}"></p-column>
      <p-column field="amount" header="发生金额(元)" [style]="{'width':'150px'}">
        <ng-template let-row="rowData" pTemplate="body">
          <div class="text-right">
            <!-- {{addCreditValue.addCreditValue | currency:'CNY' :true}} -->
            {{row.amount | yuanFormat:2:true}}
          </div>
        </ng-template>
      </p-column>
      <p-column field="oppoAcctNo" header="入账账号" styleClass="text-center" [style]="{'width':'200px'}"></p-column>
      <p-column field="oppoAcctName" header="入账账户名" [style]="{'width':'200px'}"></p-column>
      <p-column field="tradeTypeDic" header="交易类型" [style]="{'width':'100px'}"></p-column>
      <p-footer>
        <div class="clearfix">
          <div class="pull-right">
            <paginator [(index)]="page" [count]="count" [changePageSizeAble]="true" [(pageSize)]="rows" (onChangePage)="getDataList()" size="sm" [showTotal]="true"></paginator>
          </div>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
</div>
