<div class="page-location">
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-user"></i>会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">资料变更审核<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">详情</a>
</div>
<div class="wrapper">
  <form #form>
    <section >
      <div class="clearfix ">
        <div class="col-md-6">
          <label class="label-control label-special-w" for="geustName">变更申请ID:</label>
          <div class="col-md-8 m-t-xs">
            {{updateApplyId}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w">申请时间:</label>
          <div class="col-md-8 m-t-xs">
            {{createTime}}
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper bg-white">
      <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w" for="geustName">客户名称:</label>
          <div class="col-md-8 m-t-xs">
            {{memberName}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w">状态:</label>
          <div class="col-md-8 m-t-xs">
            {{statusDic}}
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="label-control label-special-w">归属渠道:</label>
        <div class="col-md-4 m-t-xs">
          {{appName}}
        </div>
      </div>
      <div class=" clearfix">
        <label class="label-control label-special-w" for="geustName">服务经理:</label>
        <div class="col-md-4 m-t-xs">
          {{serviceMan}}
        </div>
      </div>
    </section>
    <section class="wrapperForTwo ">
      <div class="p-t col-md-6 bg-white wrapperTwoLeft">
        <div class="sec-header clearfix m-t wrapper-sm">
          <div>原有资料</div>
        </div>
        <!-- 变更手机号 -->
        <div *ngIf="changeType==1">
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">原手机号:</label>
            <div class="col-md-8 m-t-xs">
            {{oldPhome}}
            </div>
          </div>
        </div>
        <!-- 变更银行卡 -->
        <div *ngIf="changeType==2">
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">原有银行卡号:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.cardNo}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户名:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.cardNo}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户行:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.bankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">支行名称:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.subbankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">银行卡类型:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.typeDic}}
            </div>
          </div>
        </div>
        <!-- 新增银行卡 -->
        <div *ngIf="changeType==3">
          无
        </div>
        <!-- 删除银行卡 -->
        <div *ngIf="changeType==4">
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">原有银行卡号:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.cardNo}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户名:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.cardNo}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户行:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.bankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">支行名称:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.subbankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">银行卡类型:</label>
            <div class="col-md-8 m-t-xs">
            {{companyBankCard.typeDic}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-white wrapperTwoRight">
        <div class="sec-header clearfix m-t wrapper-sm">
          <div>新资料</div>
          
        </div>
        <!-- 变更手机号 -->
        <div *ngIf="changeType==1">
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">新手机号:</label>
            <div class="col-md-8 m-t-xs">
            {{newPhone}}
            </div>
          </div>
        </div>
        <!-- 变更银行卡 -->
        <div *ngIf="changeType==2">
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">新银行卡号:</label>
            <div class="col-md-8 m-t-xs">
            {{newCardNo}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户名:</label>
            <div class="col-md-8 m-t-xs">
            {{newCardName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户行:</label>
            <div class="col-md-8 m-t-xs">
            {{newBankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">支行名称:</label>
            <div class="col-md-8 m-t-xs">
            {{newSubbankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">银行卡类型:</label>
            <div class="col-md-8 m-t-xs">
            {{newTypeDic}}
            </div>
          </div>
        </div>
        <!-- 新增银行卡 -->
        <div *ngIf="changeType==3">
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">新银行卡号:</label>
            <div class="col-md-8 m-t-xs">
            {{newCardNo}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户名:</label>
            <div class="col-md-8 m-t-xs">
            {{newCardName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">开户行:</label>
            <div class="col-md-8 m-t-xs">
            {{newBankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">支行名称:</label>
            <div class="col-md-8 m-t-xs">
            {{newSubbankName}}
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="" class="label-control label-special-w">银行卡类型:</label>
            <div class="col-md-8 m-t-xs">
            {{newTypeDic}}
            </div>
          </div>
        </div>
        <!-- 删除银行卡 -->
        <div *ngIf="changeType==4">
          申请删除
        </div>
      </div>
    </section>
    <section class="wrapper bg-white">
      <!-- <div class="form-group clearfix row">
        <div class="col-md-6">
          <label class="label-control label-special-w" for="geustName">审核人:</label>
          <div class="col-md-8 m-t-xs">
            {{auditBy}}
          </div>
        </div>
        <div class="col-md-6 ">
          <label class="label-control label-special-w">审核时间:</label>
          <div class="col-md-8 m-t-xs">
            {{auditDate}}
          </div>
        </div>
      </div> -->
      <div class="clearfix">
        <label class="label-control label-special-w">审核意见:</label>
        <div class="col-md-8 m-t-xs">
          <div *ngIf="!isCheck">{{applyMessage}}</div>
          <textarea name="applyMessage" class="form-control" cols="30" rows="4" *ngIf="isCheck" [(ngModel)]="applyMessage"></textarea>
          
        </div>
      </div>
      
    </section>
    <section class="wrapper">
      <div class="col-md-12 text-center">
        <a (click)="back()">返回</a>
        <button class="btn" *ngIf="isCheck" (click)="submit(-1)">拒绝</button>
        <button class="btn btn-info" *ngIf="isCheck" (click)="submit(2)">通过</button>
      </div>
    </section>
  </form>
</div>
