<!-- <div>
  <ul class="breadcrumb1 bg-white b-a">
    <li class="active"><i class="fa fa-home"></i>客户名册</li>
  </ul>
</div> -->
<div class="page-location">
  <a class="h4 pad-r-xs font-bold">客户名册</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i><span >拓展管理</span><i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">客户名册</a>
</div>
<div class="wrapper">
  <div class="mar-b-sm clearfix">
    <!-- <button class="btn btn-default pull-right" [routerLink]="['/business/authList',0]">认证记录</button> -->
    <div class="col-md-4 form-inline" *ngIf="authRole.roleIn(['008'])">
      <label  class="m-t-xs m-r-xs">服务经理:</label>
      <select name="serviceMan" class="form-control" [(ngModel)]="serviceMan" (change)="queryData()">
        <option [value]="item.employeeName" *ngFor="let item of serviceManL">
          <span *ngIf="item.employeeName">{{item.employeeName}}</span>
          <span *ngIf="!item.employeeName">全部</span>
        </option>
      </select>
    </div>
    <div class="col-md-2 pad-t-xs pull-right text-right" >
      <a class="text-info text-lg text-underline" (click)="goToList()">认证申请回复</a>
      <!-- <a class="text-danger text-lg" (click)='goToList()' *ngIf="authApplyReplyNum">{{authApplyReplyNum}}</a>
      <span class="text-danger text-lg" *ngIf="!authApplyReplyNum">{{authApplyReplyNum}}</span> -->
    </div>


  </div>
  <div>
    <p-dataTable  [value]="dataList" emptyMessage="{{loading?'':'暂无数据'}}" [loading]="loading"
                 scrollable="true" scrollHeight="400px">
      <p-column field="index" header="序号" styleClass="text-center " [style]="{'width':'100px'}"></p-column>
      <p-column field="guestName" header="客户名称" [style]="{'width':'200px'}">
      	<ng-template let-guestName="rowData" pTemplate="body">
      		<div>
      			<a (click)="detail(guestName)" class="text-info">{{guestName.guestName}}</a>
      		</div>
      	</ng-template>
      </p-column>
      <p-column field="linkName" header="联系人"  [style]="{'width':'150px'}"></p-column>
      <p-column field="linkMobile" header="联系手机" styleClass="text-center " [style]="{'width':'150px'}"></p-column>
      <p-column field="guestFromDic" header="获客途径" styleClass="text-center " [style]="{'width':'150px'}"></p-column>
      <p-column field="serviceMan" header="服务经理"  [style]="{'width':'150px'}"></p-column>
      <p-column field="statusDic" header="状态" styleClass="text-center " [style]="{'width':'150px'}">
        <ng-template let-row="rowData" pTemplate="body">
          <a *ngIf="row.status==1" [routerLink]="['/business/authDetail',row.guestId]">
            {{row.statusDic}}
          </a>
          <div *ngIf="row.status!=1">
            {{row.statusDic}}
          </div>
        </ng-template>
      </p-column>
      <p-column field="ooo" header="操作" [style]="{'width':'200px'}">
        <ng-template let-operation="rowData" pTemplate="body" >
          <div  >
            <a class="table-btn text-info" [class.text-disabled]="operation.status===1" (click)="operation.status===1?null:applyAuth(operation)" *ngIf="authRole.roleIn(['007'])">申请认证</a>
            <a class="table-btn text-info" [class.text-disabled]="operation.status===1" (click)="operation.status===1?null:edit(operation)" *ngIf="authRole.roleIn(['007'])">修改</a>
            <a class="table-btn text-danger" [class.text-disabled]="operation.status===1" (click)="operation.status===1?null:delete(operation)" *ngIf="authRole.roleIn(['007'])">删除</a>
            <a class="table-btn text-info" (click)="changeManage(operation)" *ngIf="authRole.roleIn(['008'])">变更经理</a>
          </div>

        </ng-template>
      </p-column>
      <p-footer>
        <div class="clearfix">
          <button class="btn btn-default-dk btn-sm-s pull-left" [routerLink]="['/business/customerList/add']" *ngIf="authRole.roleIn(['007'])"><i class="fa fa-plus"></i>新增</button>
          <div class="pull-right">
            <paginator [(index)]="page" [count]="count" [changePageSizeAble]="true" [(pageSize)]="rows" (onChangePage)="queryData()" size="sm" [showTotal]="true"></paginator>
          </div>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
</div>

<!-- 模态框部分 -->
<modal [(visible)]="changeManageModal" size="md">
  <form #form="ngForm" (ngSubmit)="submit()">
  <modal-header>
    <h4 class="modal-title">变更服务经理</h4>
  </modal-header>
  <modal-body>
    <div class="">
      <div class="mar-b-xs clearfix">
        <label  class="pull-left ">客户名称：</label>
        <div class="pull-left">
          {{modalCompanyName}}
        </div>
      </div>
      <div class="col-md-12 b text-2x wrapper-lg bor-bbb">
        <div class="col-md-4 text-center">
          {{modalServiceManO}}
        </div>
        <div class="col-md-4 text-center">
          >>>>>
        </div>
        <div class="col-md-4 text-center m-t-xs">
          <select name="changeServiceM" class="form-control" [(ngModel)]="modalServiceMan" required>
            <option [value]="item.employeeName" *ngFor="let item of modalServiceManL">{{item.employeeName}}</option>
          </select>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer styleClass="no-t-padding">
    <button class="btn btn-info" [disabled]="!form.valid" type="submit" >确定</button>

    <button class="btn btn-default" type="button" (click)="closeModal()">关闭</button>
  </modal-footer>
  </form>
</modal>
