<div class="page-location">
    <a class="h4 pad-r-xs font-bold">在贷跟踪详情</a>
    <a class="page-location-item">
        <i class="page-location-icon glyphicon glyphicon-briefcase"></i>融资管理
        <i class="pad-l-min fa fa-angle-right"></i>
    </a>
    <a class="page-location-item active">在贷跟踪
        <i class="pad-l-min fa fa-angle-right"></i>
    </a>
    <a class="page-location-item active">详情</a>
</div>
<div class="wrapper">
    <section class="group clearfix form-group">
        <div class="col-md-12 m-t form-group">
            <div class="col-md-6">
                <label class="label-control">贷款单号:</label>
                <div class="col-md-8 text-content">
                    {{dataList.borrowApplyId | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">申请时间:</label>
                <div class="col-md-8 text-content">
                    {{dataList.createTime | effDateFormat | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">状态:</label>
                <div class="col-md-8 text-content">
                    {{dataList.statusName | filterNull:false}}
                </div>
            </div>
        </div>
    </section>
    <section class="group clearfix form-group">
        <div class="col-md-12  m-t form-group">
            <div class="col-md-6">
                <label class="label-control">企业名称:</label>
                <div class="col-md-8 text-content">
                    {{dataList.companyName | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">企业ID:</label>
                <div class="col-md-8 text-content">
                    {{dataList.memberId | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">申请金额:</label>
                <div class="col-md-8 text-content">
                    {{dataList.approveAmount | yuanFormat:2:true}}<span *ngIf="dataList.approveAmount"> 元</span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">贷款产品:</label>
                <div class="col-md-8 text-content">
                    {{dataList.productName | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">贷款周期:</label>
                <div class="col-md-8 text-content">
                    {{dataList.ratedCycle | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">还款方式:</label>
                <div class="col-md-8 text-content">
                    {{dataList.paymentWayDic | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">利率:</label>
                <div class="col-md-8 text-content">
                    {{dataList.rate | percent | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">计息方式:</label>
                <div class="col-md-8 text-content">
                    {{dataList.rateTypeDic | filterNull:false}}
                </div>
            </div>
        </div>
    </section>
    <section class="group clearfix form-group">
        <div class="col-md-12 m-t form-group">
            <div class="col-md-6">
                <label class="label-control">运单:</label>
                <div class="col-md-8 text-content">
                    {{borrowApplyId | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">回单:</label>
                <div class="col-md-8 text-content">
                    {{borrowApplyId | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">发票:</label>
                <div class="col-md-8 text-content">
                    {{createTime | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">TMS截图:</label>
                <div class="col-md-8 text-content">
                    {{createTime | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">合同:</label>
                <div class="col-md-8 text-content">
                    {{createTime | filterNull:false}}
                </div>
            </div>
        </div>
    </section>
    <section class="group clearfix form-group">
        <div class="col-md-12 m-t form-group">
            <div class="col-md-6">
                <label class="label-control">放款时间:</label>
                <div class="col-md-8 text-content">
                    {{borrowApplyId | effDateFormat | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">还款计划:</label>
                <div class="col-md-8 text-info" (click)="getRepaymentPlan()">
                    查看
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-10">
                <label class="label-control">放款凭证:</label>
                <div class="col-md-8 text-content">
                    {{createTime | filterNull:false}}
                </div>
            </div>
        </div>
    </section>
    <section class="group clearfix form-group">
        <div class="col-md-12 m-t form-group">
            <div class="col-md-6">
                <label class="label-control">一审人员:</label>
                <div class="col-md-8 text-content">
                    {{dataList.auditOneBy | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">一审时间:</label>
                <div class="col-md-8 text-content">
                    {{dataList.auditOneTime | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">一审意见:</label>
                <div class="col-md-8 text-content">
                    {{auditOneRemarks | filterNull:false}}
                </div>
            </div>
        </div>
    </section>
    <section class="group clearfix form-group">
        <div class="col-md-12 m-t form-group">
            <div class="col-md-6">
                <label class="label-control">二审人员:</label>
                <div class="col-md-8 text-content">
                    {{auditTwoBy | filterNull:false}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="label-control">二审时间:</label>
                <div class="col-md-8 text-content">
                    {{auditTwoTime | filterNull:false}}
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-6">
                <label class="label-control">二审意见:</label>
                <div class="col-md-8 text-content">
                    {{auditTwoRemarks | filterNull:false}}
                </div>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <div class="col-md-12 m-t text-center">
            <button class="btn-def" (click)="back()">返回
                <i class="fa fa-arrow-circle-o-left"></i>
            </button>
        </div>
    </section>
</div>

<!-- 还款计划模态框部分 -->
<modal [(visible)]="repaymentPlanModal" [size]="modalSize">
  <modal-header>
    <h4 class="modal-title">还款计划</h4>
  </modal-header>
  <modal-body>
    <div>
      <p-dataTable tableStyleClass="table-style" [value]="repaymentPlanList"   emptyMessage="{{loading?'':'没有查询到符合条件的记录'}}" [loading]="modalListLoading"
                   >
        <p-column field="" header="期数">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-center">
              {{data.totalPeriod | filterNull:false}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="计划还款日">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-center">
              {{data.repaymentDate | effDateFormat}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="应还本金(元)">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.repaymentCapital | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="应还利息(元)">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.repaymentInterest | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="罚息(元)" >
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.overdueInterest | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="应还总额(元)">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-right">
              {{data.repaymentAmount | yuanFormat:2:true}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="" header="状态">
          <ng-template let-data="rowData" pTemplate="body">
            <div class="text-center">
              {{data.statusName | filterNull:false}}
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </modal-body>
  <modal-footer styleClass="no-t-padding">
    <button class="btn btn-default" (click)="closeModal()">关闭</button>
  </modal-footer>
</modal>