<div class="wrapper">
	<section class="text-center">
    <button class="btn " (click)="companyInfo()">企业基本信息</button>
    <button class="btn" (click)="runSituation()">运营状况</button>
    <button class="btn btn-info" >风控补充</button>
  	</section>
  	<section class="m-t bg-white clearfix">
  	<form #part1F="ngForm" (ngSubmit)='save1()'>
    <div class="col-md-12 padder-v b-b l-h-2x">资产信息 
      <button type="button" class="btn pull-right" *ngIf="!part1" (click)="edit('part1')">编辑</button>
      <button type="submit" class="btn btn-info pull-right" *ngIf="part1" [disabled]="!part1F.form.valid">保存</button>
      <button type="button" class="btn pull-right m-r-xs" *ngIf="part1" (click)="cancel('part1')">取消</button>
    </div>
    <div class="padder-v clearfix col-md-12 row" *ngIf="!part1">
      <div class="form-group clearfix l-h-2x">
        <div class="col-md-6">
          <label for="" class="control-label">家用轿车购买年份:</label>
          <div class="col-md-6">{{companyAsset.buyCarYear}} 年</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">轿车价值:</label>
          <div class="col-md-6">{{companyAsset.carValue}} 万元</div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x">
        <div class="col-md-6">
          <label for="" class="control-label">自有运营车辆数量:</label>
          <div class="col-md-6">{{companyAsset.carNum}} 辆</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">本地租房状况:</label>
          <div class="col-md-6">{{companyAsset.nativeRentingDic}}</div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x">
        <div class="col-md-6">
          <label for="" class="control-label">自有房产套数:</label>
          <div class="col-md-6">{{companyAsset.houseNum}} 套</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">住房价值:</label>
          <div class="col-md-6">{{companyAsset.houseValue}} 万元</div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x">
        <div class="col-md-6">
          <label for="" class="control-label">应收账款价值:</label>
          <div class="col-md-6">{{companyAsset.debtReceivableValue}} 万元</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">应付账款额度:</label>
          <div class="col-md-6">{{companyAsset.debtReceivableLimit}} 万元</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="" class="control-label col-md-3">相关证照:</label>
        <div class="col-md-6">
          <div class="form-group clearfix">
            <div class="col-md-6">房产证明</div>
            <div class="col-md-6"><a class="text-disabled" [class.text-info]="attachment['0301']" (click)="show('0301')">查看</a></div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- part1编辑模板 -->
    <div class="padder-v clearfix col-md-12 row" *ngIf="part1">
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">家用轿车购买年份:</label>
          <div class="col-md-6 form-inline">
            <input type="text" name="buyCarYear" class="form-control" [(ngModel)]="companyAsset.buyCarYear"> 年
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">轿车价值:</label>
          <div class="col-md-6">
            <input type="text" name="carValue" class="form-control" [(ngModel)]="companyAsset.carValue"> 万元
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">自有运营车辆数量:</label>
          <div class="col-md-6">
            <input name="carNum" class="form-control" [(ngModel)]="companyAsset.carNum"> 辆
              
            
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">本地租房状况:</label>
          <div class="col-md-6">
          <div class="pull-left form-inline m-r-lg" *ngFor="let item of nativeRentingList">
              <div class="radio">
                <label class="i-checks">
                  <input type="radio" name="nativeRenting" class="form-control " [value]="item.value" [(ngModel)]="companyAsset.nativeRenting" ><i></i> {{item.label}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">自有房产套数:</label>
          <div class="col-md-6">
          	<input name="houseNum" class="form-control" [(ngModel)]="companyAsset.houseNum"> 套
            
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">住房价值:</label>
          <div class="col-md-6">
            <input type="text" name="houseValue" class="form-control" [(ngModel)]="companyAsset.houseValue"> 万元
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">应收账款价值:</label>
          <div class="col-md-6">
          	<input type="text" name="debtReceivableValue" class="form-control" [(ngModel)]="companyAsset.debtReceivableValue"> 万元
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">应付账款额度:</label>
          <div class="col-md-6">
            <input type="text" name="debtReceivableLimit" class="form-control" [(ngModel)]="companyAsset.debtReceivableLimit"> 万元
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="" class="control-label col-md-3">相关证照:</label>
        <div class="col-md-12 p-r-none">
          <div class="form-group clearfix">
            <div class="col-md-6 p-r-none">
              <table class="form-group clearfix table table-striped m-b-none showL text-center">
                <thead>
                  <tr>
                    <th>房产证明</th>
                    <th width="75">状态</th>
                    <th width="80">进度</th>
                    <th width="142">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div *ngIf="attachment['0301']">
                        <a class="text-info" (click)="show('0301')">{{attachment['0301'].attachName}}</a>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="uploader1.queue[0]?(!uploader1.queue[0].uploaded):true">
                        等待上传
                      </div>
                      <div *ngIf="uploader1.queue[0]?uploader1.queue[0].success==true:false">上传成功</div>
                      <div *ngIf="uploader1.queue[0]?uploader1.queue[0].error==true:false">上传失败</div>
                    </td>
                    <td>
                      <div *ngIf="uploader1.queue[0]">
                        <div class="active m-b-none m-t-xs progress progress-sm progress-striped">
                          <div class="progress-bar bg-success" [style.width.%]="uploader1.queue[0].progress">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="btn btn-info btn-sm pos-rlt" *ngIf="!attachment['0301']">上传
                        <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="uploader1" />
                      </div>
                      <div *ngIf="attachment['0301']">
                        <div class="btn btn-info btn-sm pos-rlt" *ngIf="attachment['0301']">重新上传
                          <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="uploader1" />
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile('0301','uploader1')">删除</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    </form>

  	</section>
  	<section class="m-t bg-white clearfix">
  	<form #part2F="ngForm" (ngSubmit)='save2()'>
    <div class="col-md-12 padder-v b-b l-h-2x">负债信息 
      <button type="button" class="btn pull-right" *ngIf="!part2" (click)="edit('part2')">编辑</button>
      <button type="submit" class="btn btn-info pull-right" *ngIf="part2" [disabled]="!part2F.form.valid">保存</button>
      <button type="button" class="btn pull-right m-r-xs" *ngIf="part2" (click)="cancel('part2')">取消</button>
    </div>
    <div class="padder-v clearfix col-md-12 row" *ngIf="!part2">
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">征信负债状况:</label>
          <div class="col-md-6">{{companyDebt.creditDebtSituation}} 万元</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">住房按揭贷款金额:</label>
          <div class="col-md-6">{{companyDebt.houseMortgageLoanamt}} 万元</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">抵押贷占总贷款比例:</label>
          <div class="col-md-6">{{companyDebt.mortgageLoanamtRate}} %</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">申请人每月需偿还的贷款额:</label>
          <div class="col-md-6">{{companyDebt.repayLoanamtPermonth}} 万元</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">应付账款:</label>
          <div class="col-md-6">{{companyDebt.accountspayable}} 万元</div>
        </div>
      </div>
      
    </div>
    <!-- part2编辑模板 -->
    <div class="padder-v clearfix col-md-12 row" *ngIf="part2">
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">征信负债状况:</label>
          <div class="col-md-6">
            <input type="text" name="creditDebtSituation" class="form-control" [(ngModel)]="companyDebt.creditDebtSituation"> 万元
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">住房按揭贷款金额:</label>
          <div class="col-md-6">
            <input type="text" name="houseMortgageLoanamt" class="form-control" [(ngModel)]="companyDebt.houseMortgageLoanamt"> 万元
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">抵押贷占总贷款比例:</label>
          <div class="col-md-6">
            <input type="text" name="mortgageLoanamtRate" class="form-control" [(ngModel)]="companyDebt.mortgageLoanamtRate"> %
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">申请人每月需偿还的贷款额:</label>
          <div class="col-md-6">
            <input type="text" name="repayLoanamtPermonth" class="form-control" [(ngModel)]="companyDebt.repayLoanamtPermonth"> 万元
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">应付账款:</label>
          <div class="col-md-6">
            <input type="text" name="accountspayable" class="form-control" [(ngModel)]="companyDebt.accountspayable"> 万元
          </div>
        </div>
      </div>
      
    </div>
    </form>
    
  </section>
  <section class="m-t bg-white clearfix">
  	<form #part3F="ngForm" (ngSubmit)='save3()'>
    <div class="col-md-12 padder-v b-b l-h-2x">履约信息 
      <button type="button" class="btn pull-right" *ngIf="!part3" (click)="edit('part3')">编辑</button>
      <button type="submit" class="btn btn-info pull-right" *ngIf="part3" [disabled]="!part3F.form.valid">保存</button>
      <button type="button" class="btn pull-right m-r-xs" *ngIf="part3" (click)="cancel('part3')">取消</button>
    </div>
    <div class="padder-v clearfix col-md-12 row" *ngIf="!part3">
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">信用卡最大逾期金额:</label>
          <div class="col-md-6">{{companyCredit.maxamtofoverdueCreditcard}} 万元</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">贷款最大逾期金额:</label>
          <div class="col-md-6">{{companyCredit.maxamtofoverdueLoan}} 万元</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">信用卡/贷款逾期次数:</label>
          <div class="col-md-6">{{companyCredit.overdueNum}} 次</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">信用卡/贷款最大逾期天数:</label>
          <div class="col-md-6">{{companyCredit.overdueDay}} 天</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">住房按揭贷款逾期次数:</label>
          <div class="col-md-6">{{companyCredit.inquiriesnumWithintwoyear}} 次</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">两年内征信被查询次数:</label>
          <div class="col-md-6">{{companyCredit.housemortgageloanOverdueNum}} 次</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-md-6">
          <label for="" class="control-label">3个月内征信被查询次数:</label>
          <div class="col-md-6">{{companyCredit.inquiriesnumWithinthreemonth}} 次</div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">征信评级:</label>
          <div class="col-md-6">{{member.memberRatingGrate}}</div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="" class="control-label col-md-3">相关证照:</label>
        <div class="col-md-6">
          <div class="form-group clearfix">
            <div class="col-md-6">人行版征信报告</div>
            <div class="col-md-6"><a class="text-disabled" [class.text-info]="attachment['0111']" (click)="show('0111')">查看</a></div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- part3编辑模板 -->
    <div class="padder-v clearfix col-md-12 row" *ngIf="part3">
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">信用卡最大逾期金额:</label>
          <div class="col-md-6">
            <input type="text" name="maxamtofoverdueCreditcard" class="form-control" [(ngModel)]="companyCredit.maxamtofoverdueCreditcard"> 万元
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">贷款最大逾期金额:</label>
          <div class="col-md-6">
            <input type="text" name="maxamtofoverdueLoan" class="form-control" [(ngModel)]="companyCredit.maxamtofoverdueLoan"> 万元
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">信用卡/贷款逾期次数:</label>
          <div class="col-md-6">
            <input type="text" name="overdueNum" class="form-control" [(ngModel)]="companyCredit.overdueNum"> 次
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">信用卡/贷款最大逾期天数:</label>
          <div class="col-md-6">
            <input type="text" name="overdueDay" class="form-control" [(ngModel)]="companyCredit.overdueDay"> 天
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">住房按揭贷款逾期次数:</label>
          <div class="col-md-6">
            <input type="text" name="inquiriesnumWithintwoyear" class="form-control" [(ngModel)]="companyCredit.inquiriesnumWithintwoyear"> 次
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">两年内征信被查询次数:</label>
          <div class="col-md-6">
            <input type="text" name="housemortgageloanOverdueNum" class="form-control" [(ngModel)]="companyCredit.housemortgageloanOverdueNum"> 次
          </div>
        </div>
      </div>
      <div class="form-group clearfix l-h-2x form-inline">
        <div class="col-md-6">
          <label for="" class="control-label">3个月内征信被查询次数:</label>
          <div class="col-md-6">
            <input type="text" name="inquiriesnumWithinthreemonth" class="form-control" [(ngModel)]="companyCredit.inquiriesnumWithinthreemonth"> 次
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="control-label">征信评级:</label>
          <div class="col-md-6">
            <select name="memberRatingGrate" class="form-control" [(ngModel)]="member.memberRatingGrate">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              
            </select>
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="" class="control-label col-md-3">相关证照:</label>
        <div class="col-md-12 p-r-none">
          <div class="form-group clearfix">
            <div class="col-md-6 p-r-none">
              <table class="form-group clearfix table table-striped m-b-none showL text-center">
                <thead>
                  <tr>
                    <th>人行版征信报告</th>
                    <th width="75">状态</th>
                    <th width="80">进度</th>
                    <th width="142">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div *ngIf="attachment['0111']">
                        <a class="text-info" (click)="show('0111')">{{attachment['0111'].attachName}}</a>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="uploader2.queue[0]?(!uploader2.queue[0].uploaded):true">
                        等待上传
                      </div>
                      <div *ngIf="uploader2.queue[0]?uploader2.queue[0].success==true:false">上传成功</div>
                      <div *ngIf="uploader2.queue[0]?uploader2.queue[0].error==true:false">上传失败</div>
                    </td>
                    <td>
                      <div *ngIf="uploader2.queue[0]">
                        <div class="active m-b-none m-t-xs progress progress-sm progress-striped">
                          <div class="progress-bar bg-success" [style.width.%]="uploader2.queue[0].progress">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="btn btn-info btn-sm pos-rlt" *ngIf="!attachment['0111']">上传
                        <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="uploader2" />
                      </div>
                      <div *ngIf="attachment['0111']">
                        <div class="btn btn-info btn-sm pos-rlt" *ngIf="attachment['0111']">重新上传
                          <input type="file" accept="image/png,image/gif,image/jpg|,image/jpeg,image/bmp,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="uploadBtn" [uploader]="uploader2" />
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile('0111','uploader2')">删除</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    </form>

  	</section>
  	<section class="m-t text-center">
		<div class="col-md-12">
			<button class="btn" (click)="back()">返回</button>
		</div>
	</section>
</div>