/* You can add global styles to this file, and also import other style files */
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  padding: .5em 1em;
}
.ui-datatable .label{
  color:inherit;
}

.table-style{
	table-layout: auto !important;
}
.ui-datatable-tablewrapper{
	overflow: auto;
}

li{
	list-style: none;
}
.p-l-none{
	padding-left: 0 !important;
}
.p-r-none{
	padding-right: 0 !important;
}

.p-t-none{
	padding-top: 0 !important
}

.text-underline{
	text-decoration: underline;
}

.bottmFixFather{
	transform: scale3d(1, 1, 1);
}

.requiredSpan{
	left: 5px
}

.wrapper{
	padding: 20px
}

.text-content{
	color: #b6550f
}

.border-content{
	border: 1px solid #ababab
}



/*wqy begin*/
@media (min-width: 768px){
  .date-input-group {
    width: 260px;
  }
}
label.required{
  position: relative;
}
label.required:before{
  content: '*';
  display: block;
  position: absolute;
  left: -14px;
  color:#f05050;
  line-height: 1.6;
}
.form-label-1 .control-label,.form-label-2 .control-label,.form-label-3 .control-label,.form-label-4 .control-label,
.form-label-5 .control-label,.form-label-6 .control-label,.form-label-7 .control-label,.form-label-8 .control-label,
.form-label-9 .control-label,.form-label-10 .control-label{
  text-align:left;
}

/*wqy end*/
.productInfo{
	width: 500px;
	top: 40px;
	right: 40px;
	border-radius: 8px;
	box-shadow: 3px 3px 8px #999;
}


.showL tr td,.showL tr th{
  border: 1px solid #ddd
}

.showL thead tr th{
  border-bottom: none;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th{
  padding: 8px 8px
}
.o-h{
	overflow: hidden;
}

input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ui-widget {
    font-family: inherit;
    font-size: 1em;
}
.dol .page-location-item,.dol .page-location a{
  cursor: default;
}

/**
select.ng-invalid{
  color:#aaa;
}
select option{
  color:#333;
}
**/

@media (min-width: 768px){
  .app-content {
    overflow-x: visible;
}
}


input[type="file"] {
    display: none;
}
