/* You can add global styles to this file, and also import other style files */
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  padding: .5em 1em;
}
.ui-datatable .label{
  color:inherit;
}

.table-style{
	table-layout: auto !important;
}
.ui-datatable-tablewrapper{
	overflow: auto;
}

li{
	list-style: none;
}
.p-l-none{
	padding-left: 0 !important;
}
.p-r-none{
	padding-right: 0 !important;
}

.p-t-none{
	padding-top: 0 !important
}

.text-underline{
	text-decoration: underline;
}

.bottmFixFather{
	transform: scale3d(1, 1, 1);
}

.requiredSpan{
	left: 5px
}

.wrapper{
	padding: 20px
}

.text-content{
	color: #b6550f
}

.border-content{
	border: 1px solid #ababab
}



/*wqy begin*/
.ui-datatable-tablewrapper,.ui-datatable-scrollable-table-wrapper{
}
.ui-datatable .ui-datatable-scrollable-body{
  min-height: 400px;
  background-color: #fff;
}
.dol .ui-datatable .ui-datatable-data > tr > td.ui-datatable-emptymessage {
  padding: 150px 1em;
  border-color:transparent;
}
.dol .ui-datatable .ui-datatable-loading-content {
  top: 45%;
}
/*wqy end*/
