<div class="page-location">
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-user"></i>会员管理<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">关联企业</a>
</div>
<div class="wrapper">
  	<div class="wrapper clearfix">
		<div class="form-group">
			<div class="col-md-10">
				<div class="form-group">
					<div class="col-md-4">
						<label class="pull-left label-width">企业名称:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">企业性质:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">注册资本:</label>
						<div class="col-md-8">
							
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4">
						<label class="pull-left label-width">总部所在地:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">实际控制人:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">持股比例:</label>
						<div class="col-md-8">
							
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4">
						<label class="pull-left label-width">股东数:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">年总产值:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">年发货总量:</label>
						<div class="col-md-8">
							
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4">
						<label class="pull-left label-width">财务纠纷:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					<div class="col-md-4">
						<label class="pull-left label-width">动产抵押:</label>
						<div class="col-md-8">
							
						</div>
					</div>
					 
				</div>
				
			</div>
			<div class="col-md-2">
				<div class="col-md-12 form-group">
					<label class="pull-left label-width">评级:</label>
						<div class="col-md-8">
							
						</div>
				</div>
				<div class="col-md-12 form-group">
					<label class="pull-left label-width">评分:</label>
						<div class="col-md-8">
							
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div>
			<div class="wrapper col-md-12">
				<i class="pull-right"></i>
			</div>
			<div></div>
		</div>
	</div>

</div>