body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:220px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:65px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:98px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:199px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:65px;
  width:337px;
  height:23px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:333px;
  white-space:nowrap;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:98px;
  width:53px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:199px;
  width:37px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:131px;
  width:53px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:131px;
  width:69px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:960px;
  height:160px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:348px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:348px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:384px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:348px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:322px;
  width:69px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:355px;
  width:140px;
  height:40px;
  color:#1E1E1E;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:960px;
  height:160px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:467px;
  width:37px;
  height:23px;
  font-size:16px;
  text-decoration:underline;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:467px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:524px;
  width:38px;
  height:23px;
  font-size:16px;
  color:#FF0000;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u1623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:524px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:467px;
  width:77px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u1627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:467px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:524px;
  width:69px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:524px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:557px;
  width:32px;
  height:23px;
  font-size:16px;
  color:#FF0000;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:557px;
  width:85px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:2px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:500px;
  width:676px;
  height:1px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:620px;
  width:140px;
  height:40px;
  color:#1E1E1E;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:47px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:301px;
  width:322px;
  height:47px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:313px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:313px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:313px;
  width:85px;
  height:23px;
  font-size:16px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:313px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:315px;
  width:89px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:62px;
  height:31px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:322px;
  width:47px;
  height:5px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:154px;
  height:31px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:357px;
  width:139px;
  height:5px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:303px;
  height:31px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:393px;
  width:288px;
  height:5px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:386px;
  width:61px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:350px;
  width:61px;
  height:20px;
  font-size:14px;
  color:#0000FF;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:67px;
  width:70px;
  height:20px;
  color:#999999;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u1665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:67px;
  width:62px;
  height:20px;
  color:#999999;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:164px;
  width:53px;
  height:23px;
  font-size:16px;
  color:#333333;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u1669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC33;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:164px;
  width:37px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC33;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
